<!-- USER SETTING VIEW -->
<ion-view  hide-nav-bar="true">
    <style>
        .text-align--right {text-align: right; padding-right: 8px;}
        .settings-list {background-color: #fff;}
        .settings-list .item {border-left: 0px solid #fff; border-right: 0px solid #fff; padding-left: 0px; padding-right: 0px;}
        .settings-list .item .icon {right: 0px;}
        .settings-list .item.item-api-version {border-top: 0px solid #fff; }
        .settings-list .item.item-terms-conditions {border-bottom: 0px solid #fff; }
    </style>
    <div class="bar bar-header">
        <div class="buttons">
            <button ui-sref="app.home" class="button icon-left ion-chevron-left button-clear button-dark">{{::'cl.navigation.lb_home' | translate}}</button>
        </div>

        <div class="h1 title">{{::'cl.navigation.lb_userSettings' | translate}}</div>

        <!--<div class="buttons">-->
            <!--&lt;!&ndash; Toggle right side menu &ndash;&gt;-->
            <!--<button menu-toggle="right" class="button button-icon button-clear icon ion-navicon"></button>-->
        <!--</div>-->
    </div>

    <ion-content style="top: 40px;">
        <div class="list settings-list">
            <!-- APP Version -->
            <div class="item slds-grid slds-grid--pull-padded slds-m-horizontal--x-small item-api-version">
                <h2 class="o-job-queue-title slds-size--5-of-8">{{'cl.global.lb_appVersion' | translate}}</h2>
                <span class="slds-size--3-of-8 text-align--right">{{vm.version}}</span>
            </div>
            <!-- Sync with Cloud TODO -->
            <div class="item slds-grid slds-grid--pull-padded slds-m-horizontal--x-small">
                <h2 class="o-job-queue-title slds-size--4-of-8">{{'cl.sync.lb_SyncedWithCloud' | translate}}</h2>
                <span class="slds-size--4-of-8 text-align--right">{{vm.lastSyncDate}}</span>
            </div>
            <!-- Synchronize -->
            <a class="item item-icon-right slds-grid slds-grid--pull-padded slds-m-horizontal--x-small" ng-click="vm.synchronize()">
                <h2 class="o-job-queue-title slds-size--5-of-8">{{'cl.navigation.lb_synchronize' | translate}}</h2>
                <i class="icon">
                    <object class="o-linde-item o-icon-arrow" data="img/linde/icons/svg/Call-to-action-arrow-blue_RGB.svg"
                            type="image/svg+xml"></object>
                </i>
            </a>
            <!-- Synchronize log files-->
            <a class="item item-icon-right slds-grid slds-grid--pull-padded slds-m-horizontal--x-small" ng-click="vm.synchronizeLogfiles()" ng-if="vm.showSyncLogfiles">
                <h2 class="o-job-queue-title slds-size--5-of-8">{{'cl.navigation.lb_synchronize_logfiles' | translate}}</h2>
                <i class="icon">
                    <object class="o-linde-item o-icon-arrow" data="img/linde/icons/svg/Call-to-action-arrow-blue_RGB.svg"
                            type="image/svg+xml"></object>
                </i>
            </a>
            <!-- CHANGE PW -->
            <a class="item item-icon-right slds-grid slds-grid--pull-padded slds-m-horizontal--x-small" ui-sref="app.change-password">
                <h2 class="o-job-queue-title slds-size--5-of-8">{{'cl.home.lb_changePassword' | translate}}</h2>
                <i class="icon">
                    <object class="o-linde-item o-icon-arrow" data="img/linde/icons/svg/Call-to-action-arrow-blue_RGB.svg"
                            type="image/svg+xml"></object>
                </i>
            </a>
            <!-- SWITCH USER -->
            <a class="item item-icon-right slds-grid slds-grid--pull-padded slds-m-horizontal--x-small" ng-click="vm.showNote();">
                <h2 class="o-job-queue-title slds-size--5-of-8">{{'cl.loginInteraction.btn_switchUser' | translate}}</h2>
                <i class="icon">
                    <object class="o-linde-item o-icon-arrow" data="img/linde/icons/svg/Call-to-action-arrow-blue_RGB.svg"
                            type="image/svg+xml"></object>
                </i>
            </a>
            <!-- Log out -->
            <a class="item item-icon-right slds-grid slds-grid--pull-padded slds-m-horizontal--x-small" ng-click="vm.logout();">
                <h2 class="o-job-queue-title slds-size--5-of-8">{{'cl.loginInteraction.btn_logout' | translate}}</h2>
                <i class="icon">
                    <object class="o-linde-item o-icon-arrow" data="img/linde/icons/svg/Call-to-action-arrow-blue_RGB.svg"
                            type="image/svg+xml"></object>
                </i>
            </a>
            <!-- Terms & Conditions -->
            <!-- JSI 2017-02-15: disabled User Story R-750 Release 0.8 Terms & Conditions Mobile -->
            <!--<a class="item item-icon-right slds-grid slds-grid&#45;&#45;pull-padded slds-m-horizontal&#45;&#45;x-small item-terms-conditions" ui-sref="app.termsAndConditions">
                <h2 class="o-job-queue-title slds-size&#45;&#45;5-of-8">{{'cl.global.lb_viewTermsAndConditions' | translate}}</h2>
                &lt;!&ndash;<i class="icon ion-ios-arrow-right"></i>&ndash;&gt;
                <i class="icon">
                    <object class="o-linde-item o-icon-arrow" data="img/linde/icons/svg/Call-to-action-arrow-blue_RGB.svg"
                            type="image/svg+xml"></object>
                </i>
            </a>-->
    </ion-content>
</ion-view>