<!--CHANGE PASSWORD STANDARD VIEW-->
<ion-view can-swipe-back="false" view-title="Change Password" cache-view="false" ng-init="vm.loadUserNameFromCache()">
    <ion-content class="local-login {{vm.themeClass}} scroll-content" >
        <div class="slds-grid slds-grid--align-center">
            <div class="slds-size--1-of-1 slds-medium-size--6-of-12">

                <!-- LOGO -->
                <div class="slds-grid">
                    <div class="flex-claim"></div>
                </div>

                <!-- INFO LABEL -->
                <div class="slds-grid row-border row-padding row-padding-bottomLong">
                    <label class="slds-col item-no-border intro-color">
                        {{'cl.loginInteraction.lb_enter_current_password' | translate}}
                    </label>
                </div>

                <!-- CURRENT PW -->
                <div class="slds-grid row-border row-padding row-padding-bottomShort">
                    <span class="slds-size--1-of-12 ion-ios-locked-outline user-color">  </span>
                    <input class="slds-col pwd-color item-no-border" type="password"
                           placeholder="{{'cl.loginInteraction.lb_current_password' | translate}}"
                           ng-model="currentPassword">
                </div>

                <!-- INFO LABEL -->
                <div class="slds-grid row-border row-padding row-padding-bottomLong">
                    <label class="slds-col item-no-border intro-color">
                        {{'cl.loginInteraction.lb_enter_new_password' | translate}}
                    </label>
                </div>

                <!-- NEW PW -->
                <div class="slds-grid row-border row-padding row-padding-bottomShort">
                    <span class="slds-size--1-of-12 ion-ios-locked-outline user-color">  </span>
                    <input class="slds-col pwd-color item-no-border" type="password"
                           placeholder="{{'cl.loginInteraction.lb_new_password' | translate}}" ng-model="password">
                </div>

                <!-- CONFIRM NEW PW -->
                <div class="slds-grid row-border row-padding row-padding-bottomShort">
                    <span class="slds-size--1-of-12 ion-ios-checkmark-outline user-color">  </span>
                    <input class="slds-col pwd-color item-no-border" type="password"
                           placeholder="{{'cl.loginInteraction.lb_confirm_new_password' | translate}}"
                           ng-model="confirmPassword">
                </div>

                <!-- ERROR MESSAGES -->
                <div class="slds-grid row-padding">
                    <label class="slds-col item-no-border" ng-show="confirmFailure">
                        <span class="assertive" >{{errorMsg}}</span>
                    </label>
                </div>

                <!-- SUCCESS MESSAGE -->
                <div class="slds-grid row-padding">
                    <label class="slds-col item-no-border" ng-show="confirmSuccess">
                        <span class="balanced" >{{successMsg}}</span>
                    </label>
                </div>

                <!-- DATA SUBMIT -->
                <div class="slds-grid ">
                    <button class="slds-col button button-block o-button-blue" ng-click="vm.confirmUpdate(password, confirmPassword, currentPassword)">
                        {{'cl.loginInteraction.btn_change_password' | translate}}
                    </button>
                </div>
            </div>
        </div>

        <!-- RETURN HOME -->
        <!--<a class="button button-block button-light" ui-sref="app.home">
            {{'cl.global.btn_return_home' | translate}}
        </a>-->
    </ion-content>
</ion-view>