<!--FORGOT PASSWORD STANDARD VIEW-->
<ion-view can-swipe-back="false" view-title="Forgot Password">
    <ion-content class="local-login {{vm.themeClass}} scroll-content">
        <div class="slds-grid slds-grid--align-center">
            <div class="slds-size--1-of-1 slds-medium-size--6-of-12">

                <!-- LOGO -->
                <div class="slds-grid">
                    <div class="flex-claim"></div>
                </div>

                <!-- INFO LABEL -->
                <div class="slds-grid row-border row-padding row-padding-bottomLong">
                    <label class="slds-col item-no-border intro-color o-login-fontsize">
                        {{'cl.loginInteraction.lb_set_answer' | translate}}
                    </label>
                </div>

                <!-- CURRENT USER QUESTION -->
                <div class="slds-grid row-border row-padding row-padding-bottomLong">
                    <label class="slds-col item-no-border intro-color o-login-fontsize">
                        {{currentUserQuestion}}
                    </label>
                </div>

                <!-- ANSWER -->
                <div class="slds-grid row-border row-padding row-padding-bottomShort">
                    <input class="slds-col pwd-color item-no-border o-login-fontsize o-login-input-background"
                           type="text" placeholder="{{'cl.loginInteraction.lb_answer' | translate}}" ng-model="userAnswer">
                </div>

                <!-- ERROR MESSAGES -->
                <div class="slds-grid row-padding">
                    <label class="slds-col item item-no-border" ng-show="confirmFailure">
                        <span class="assertive" >{{questionErrorMsg}}</span>
                    </label>
                </div>

                <!-- DATA SUBMIT -->
                <div class="slds-grid ">
                    <button class="slds-col button button-block o-button-blue" ng-click="vm.confirm(userAnswer)">
                        {{'cl.loginInteraction.btn_confirm' | translate}}
                    </button>
                </div>

                <!-- BACK TO LOGIN -->
                <div class="slds-grid slds-grid--align-spread">
                    <a class="slds-col button o-button-dark-grey" ui-sref="login" style="padding-left: 0px;">
                        {{'cl.loginInteraction.btn_return_login' | translate}}
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>