<ion-view can-swipe-back="false" view-title="New Password" ng-init="vm.loadUserNameFromCache()">
    <ion-content class="local-login {{vm.themeClass}} scroll-content">
        <div class="slds-grid slds-grid--align-center">
            <div class="slds-size--1-of-1 slds-medium-size--6-of-12">

                <!-- LOGO -->
                <div class="slds-grid">
                    <div class="flex-claim"></div>
                </div>

                <!-- INFO LABEL -->
                <div class="slds-grid row-border row-padding row-padding-bottomLong">
                    <label class="slds-col item-no-border intro-color o-login-fontsize">
                        {{'cl.loginInteraction.lb_enter_new_password' | translate}}
                    </label>
                </div>
                <!-- PASSWORD INPUTS -->
                <div class="slds-grid row-border row-padding row-padding-bottomShort">
                    <span class="slds-size--1-of-12 ion-ios-locked-outline user-color">  </span>
                    <input class="slds-col pwd-color  o-login-fontsize o-login-input-background" type="password"
                           placeholder="{{'cl.loginInteraction.lb_password' | translate}}"
                           ng-model="password">
                </div>
                <div class="slds-grid row-border row-padding row-padding-bottomShort">
                    <span class="slds-size--1-of-12 ion-ios-checkmark-outline user-color">  </span>
                    <input class="slds-col pwd-color item-no-border o-login-fontsize o-login-input-background"
                           type="password"
                           placeholder="{{'cl.loginInteraction.lb_confirm_password' | translate}}"
                           ng-model="confirmPassword">
                </div>

                <!-- ERROR MESSAGES -->
                <div class="slds-grid row-padding">
                    <label class="slds-col item-no-border" ng-show="confirmFailure">
                        <span class="assertive" >{{errorMsg}}</span>
                    </label>
                </div>

                    <!-- SUCCESS MESSAGE -->
                <div class="slds-grid row-padding">
                    <label class="slds-col item-no-border" ng-show="confirmSuccess">
                        <span class="balanced" >{{successMsg}}</span>
                    </label>
                </div>

                <!-- DATA SUBMIT -->
                <div class="slds-grid ">
                    <button class="slds-col button button-block o-button-blue"
                            ng-click="vm.confirmUpdate(password, confirmPassword, false)">
                        {{'cl.loginInteraction.btn_confirm' | translate}}
                    </button>
                </div>

                <!-- BACK TO LOGIN -->
                <div class="slds-grid slds-grid--align-spread">
                    <a class="slds-size--2-of-2 button button-left o-button-dark-grey o-login-fontsize" ui-sref="login">
                        {{'cl.loginInteraction.btn_returnToLocalLogin' | translate}}
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>