<ion-view ng-controller="ObjectRelatedListController as vm" ng-init="vm.getRecordsForRelatedList()" class="pagelayout-list" title="{{vm.labelName}}">

    <ion-content>

        <!-- ACCOUNT DETAILS HEADER -->
        <!--
        defualt layout title ^^^ above {{vm.objectType + '.label' | translate}}

        <div style="width: auto; height: 120px; background-color: #0c60ee; padding: 10px">HEADER
        </div>
        -->

        <!-- head card -->
        <div class="slds-card" style="margin-bottom:10px ; background-color:#F5F6F8 ">
            <div class="slds-card__header">
                <div class="slds-media slds-media--center slds-has-flexi-truncate">
                    <div class="slds-media__figure">
                        <svg aria-hidden="true" class="slds-icon slds-icon-standard-contact slds-icon--small">
                            <use xlink:href="lib/salesforce-lightning-design-system/assets/icons/standard-sprite/svg/symbols.svg#contact"></use>
                        </svg>
                    </div>
                    <div class="slds-media__body">
                        <h2 class="slds-text-heading--small slds-truncate">{{vm.relatedList.label}}</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="slds-card__body">
            <ul class="slds-list--vertical slds-has-cards--space">
                <li ng-repeat="record in vm.records.entries"
                    ui-sref="app.pagelayout({objectType: vm.relatedList.sobject, sid: record._soupEntryId})"
                    class="slds-list__item slds-tile slds-hint-parent">

                    <div class="slds-media slds-media--center slds-has-flexi-truncate">
                        <div class="slds-media__body">
                            <h2 class="slds-text-heading--small slds-truncate">{{vm.getName(record)}}</h2>
                        </div>
                    </div>

                </li>
            </ul>
        </div>

    </ion-content>

    <!-- ACCOUNT DETAILS FOOTER -->
    <ion-footer-bar align-title="left" class="tabs tabs-icon-top custom-footer-action-bar">
        <action-footer-bar object-type="vm.objectType"></action-footer-bar>
    </ion-footer-bar>

</ion-view>