<!-- ACTION BAR FOOTER COMPONENT TEMPLATE -->

<!-- Action Bar = Call ------------------------------------------------------------------------------------------------>
<a ng-if="$ctrl.isCall" class="tab-item" ng-click="$ctrl.call()">
    <span class="slds-icon_container slds-icon_container--circle slds-icon-action-call">
      <svg aria-hidden="true" class="slds-icon slds-icon--small">
          <use xlink:href="lib/salesforce-lightning-design-system/assets/icons/action-sprite/svg/symbols.svg#call"></use>
      </svg>
    </span>
    <span class="custom-label-bottom">{{'cl.actionBar.lb_call' | translate}}</span>
</a>

<!-- Action Bar = New Visit ------------------------------------------------------------------------------------------->
<a ng-if="$ctrl.isNewVisit" class="tab-item" ng-click="$ctrl.newVisit()">
    <span class="slds-icon_container slds-icon_container--circle slds-icon-action-new-opportunity">
      <svg aria-hidden="true" class="slds-icon slds-icon--small">
          <use xlink:href="lib/salesforce-lightning-design-system/assets/icons/action-sprite/svg/symbols.svg#new_opportunity"></use>
      </svg>
    </span>
    <span class="custom-label-bottom">{{'cl.actionBar.lb_new_visit' | translate}}</span>
</a>

<!-- Action Bar = New Event --------------------------------------------------------------------------------------------->
<a ng-if="$ctrl.isNewEvent" class="tab-item" ng-click="$ctrl.newEvent()">
    <span class="slds-icon_container slds-icon_container--circle slds-icon-action-new-event">
      <svg aria-hidden="true" class="slds-icon slds-icon--small">
          <use xlink:href="lib/salesforce-lightning-design-system/assets/icons/action-sprite/svg/symbols.svg#new_event"></use>
      </svg>
        <span class="custom-label-bottom">{{'cl.actionBar.lb_new_event' | translate}}</span>
    </span>
</a>

<!-- Action Bar = Share Post -->
<a ng-if="$ctrl.isSharePost" class="tab-item" ng-click="$ctrl.sharePost()">
    <span class="slds-icon_container slds-icon_container--circle slds-icon-action-share-post">
      <svg aria-hidden="true" class="slds-icon slds-icon--small">
          <use xlink:href="lib/salesforce-lightning-design-system/assets/icons/action-sprite/svg/symbols.svg#share_post"></use>
      </svg>
    </span>
    <span class="custom-label-bottom">{{'cl.actionBar.lb_post' | translate}}</span>
</a>

<!-- Action Bar = Show More -->
<a ng-if="$ctrl.isShowMore" class="tab-item" ng-click="$ctrl.showMore()">
    <span class="slds-icon_container slds-icon_container--circle slds-icon-action-more">
      <svg aria-hidden="true" class="slds-icon slds-icon--small">
          <use xlink:href="lib/salesforce-lightning-design-system/assets/icons/action-sprite/svg/symbols.svg#more"></use>
      </svg>
    </span>
    <span class="custom-label-bottom">{{'cl.actionBar.lb_show_more' | translate}}</span>
</a>

<!-- Action Bar = New Task -->
<a ng-if="$ctrl.isNewTask" class="tab-item" ng-click="$ctrl.newTask()">
    <span class="slds-icon_container slds-icon_container--circle slds-icon-action-new-task">
      <svg aria-hidden="true" class="slds-icon slds-icon--small">
          <use xlink:href="lib/salesforce-lightning-design-system/assets/icons/action-sprite/svg/symbols.svg#new_task"></use>
      </svg>
    </span>
    <span class="custom-label-bottom">{{'cl.actionBar.lb_new_task' | translate}}</span>
</a>

<!-- Action Bar = Log a Call -->
<a ng-if="$ctrl.isLogACall" class="tab-item" ng-click="$ctrl.logACall()">
    <span class="slds-icon_container slds-icon_container--circle slds-icon-action-log-a-call">
      <svg aria-hidden="true" class="slds-icon slds-icon--small">
          <use xlink:href="lib/salesforce-lightning-design-system/assets/icons/action-sprite/svg/symbols.svg#log_a_call"></use>
      </svg>
    </span>
    <span class="custom-label-bottom">{{'cl.actionBar.lb_log_a_call' | translate}}</span>
</a>

<!-- Action Bar = New Contact -->
<a ng-if="$ctrl.isNewContact" class="tab-item" ng-click="$ctrl.newContact()">
    <span class="slds-icon_container slds-icon_container--circle slds-icon-action-new-contact">
      <svg aria-hidden="true" class="slds-icon slds-icon--small">
          <use xlink:href="lib/salesforce-lightning-design-system/assets/icons/action-sprite/svg/symbols.svg#new_contact"></use>
      </svg>
    </span>
    <span class="custom-label-bottom">{{'cl.actionBar.lb_new_contact' | translate}}</span>
</a>

<!-- Action Bar = Edit Details -->
<a ng-if="$ctrl.isEdit" class="tab-item" ng-click="$ctrl.editDetails()">
    <span class="slds-icon_container slds-icon_container--circle slds-icon-action-edit">
      <svg aria-hidden="true" class="slds-icon slds-icon--small">
          <use xlink:href="lib/salesforce-lightning-design-system/assets/icons/action-sprite/svg/symbols.svg#edit"></use>
      </svg>
    </span>
    <span class="custom-label-bottom">{{'cl.actionBar.lb_edit' | translate}}</span>
</a>