<ng-if ng-if="$ctrl.form && $ctrl.itemEditableForUpdate"
       ng-class="{'slds-has-error': ($ctrl.form[$ctrl.detail.name].$invalid && $ctrl.form.$submitted)
       || ($ctrl.form[$ctrl.detail.name].$invalid && !$ctrl.form.$submitted
       && $ctrl.form[$ctrl.detail.name].$touched && !$ctrl.form[$ctrl.detail.name].$error.required)}">

    <div class="slds-select_container">
        <select id="{{::$ctrl.selectInputName}}"
                name="{{::$ctrl.selectInputName}}"
                class="slds-select"
                ng-model="$ctrl.selectedOption"
                ng-model-options="{updateOn: 'blur'}"
                ng-options="element.value as element.label for element in $ctrl.selectOptions track by element.value"
                ng-change="$ctrl.change()">
            <!--<option ng-if="$ctrl.required" value="">{{::'cl.global.lb_select_chooseValue' | translate}}</option>-->
        </select>
        <input type="text"
               ng-show="false"
               id="{{::$ctrl.detail.name}}"
               name="{{::$ctrl.detail.name}}"
               ng-model="$ctrl.value"
               ng-required="$ctrl.required"/>

    </div>

    <!-- Error messages are output for the form -->
    <div static-include-without-new-scope
         template-path="app/core/pagelayout/inline-error-messages/inline-error-messages.view.html"></div>

</ng-if>

<!-- Component view for the pure output -->
<div ng-if="!$ctrl.itemEditableForUpdate" class="slds-form-element__control slds-has-divider--bottom">
    <span class="slds-form-element__static">{{::$ctrl.value}}</span>
</div>