<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>custom Information</title>
	<link rel="stylesheet" href="././css/customInf.css">

	<style type="text/css">
		.search_Photo_Icon {
			background-image: url(././img/images/search-photo_icon.png);
		}
		.add_Icon_White {
			background-image: url(././img/images/add_icon_white.png);
		}
		.back_Icon {
			background-image: url(././img/images/back_icon.png);
		}
		.arrow_Down_Red {
			background-image: url(././img/images/arrow_Down_Red.png);
		}
		.arrow_Left_Red {
			background-image: url(././img/images/arrow_Left_Red.png);
		}
	</style>
</head>
<body>
	<div class="header">
		<div class="left_Box">
			<div class="back_Icon" ng-click="goBack()"></div>
		</div>
  		<div class="search_All">
  			<input type="text" placeholder="搜索" class="search_Input" />
	  		<div class="search_Photo_Icon"></div>
		</div>
		<div class="right_Box">
			<div class="add_Icon_White"></div>
			<div class="add_Arrow to_Hide"></div>
			<div class="add_Group to_Hide">
				<div class="add_Box"> 添加客户 </div>
				<div class="add_Box"> 添加工单 </div>
				<div class="add_Box"> 添加报价 </div>
				<div class="add_Box"> 添加联系人 </div>
			</div>
		</div>
	</div>
	<div class="bodyer">	
	  	<div class="big_Type_Group">
	  		<div class="small_Type_Group">
	  			<div class="small_Type_Title_Group" ng-click="toDisplay()">
	  				<!-- 切换收缩开关arrow_Down_Red / arrow_Left_Red -->
	  				<div class="OpenClose_Btn arrow_Down_Red"></div>
	  				<div class="small_Type_Title"> 基础信息 </div>
	  			</div>
	  			<div class="inf_Box_Group"  id="div_baseInfo" ">
	  				<div class="inf_Box">
	  					<div class="inf_Left_Text"> 客户名称：</div><div class="inf_Right_Text"> 东莞沃尔玛百货有限公司</div>
  					</div>
  					<div class="inf_Box">
	  					<div class="inf_Left_Text"> 客户名称：</div><div class="inf_Right_Text"> 东莞沃尔玛百货有限公司</div>
  					</div>
	  			</div>
	  		</div>
	  		<div class="small_Type_Group">
	  			<div class="small_Type_Title_Group">
	  				<!-- 切换收缩开关arrow_Down_Red / arrow_Left_Red -->
	  				<div class="OpenClose_Btn arrow_Left_Red"></div>
	  				<div class="small_Type_Title"> 合同 </div>
	  			</div>
	  		</div>
	  		<div class="small_Type_Group">
	  			<div class="small_Type_Title_Group">
	  				<!-- 切换收缩开关arrow_Down_Red / arrow_Left_Red -->
	  				<div class="OpenClose_Btn arrow_Down_Red"></div>
	  				<div class="small_Type_Title"> 工单/周期性计划 </div>
	  			</div>
	  			<div class="plan_Box_Group">
		  			<div class="plan_Box">
		  				<div class="plan_Left_Text"> 工单：109328984</div><div class="plan_Right_Text"> 计划中 </div>	
		  			</div>
		  			<div class="plan_Box">
		  				<div class="plan_Left_Text"> 工单：109328984</div><div class="plan_Right_Text"> 处理中 </div>	
		  			</div>
  			 	</div>
	  		</div>
	  	</div>
  	</div>
</body>
</html>
<