<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Delivery List </title>
    <link rel="stylesheet" href="././css/deliveryList.css">

    <style type="text/css">
        .deliveryList_bodyer {
            background-image: url(././img/images/bg_img.png);
        }

        .arrow_Down_White {
            background-image: url(././img/images/arrow_Down_White.png);
        }

        .arrow_Left_White {
            background-image: url(././img/images/arrow_Left_White.png);
        }

        .explain_Icon {
            background-image: url(././img/images/explain_icon.png);
        }

        .back_Icon {
            background-image: url(././img/images/back_icon.png);
        }
    </style>
</head>
<body>
<div class="deliveryList_header">
    <div class="left_Box" ng-click="goBack()">
        <div class="back_Icon"></div>
    </div>
    <div class="center_Box">
        <div class="center_Title">交货列表</div>
    </div>
    <div class="right_Box">
    </div>
</div>
<div class="deliveryList_bodyer">
    <div class="big_Type_Group">
        <div>
            <div class="small_Type_Title_Group">
                <div class="small_Type_Title_G"> 草稿列表</div>
                <!-- 切换收缩开关arrow_Down_White / arrow_Left_White -->
                <div class="OpenClose_Btn arrow_Down_White"></div>
            </div>
            <table cellpadding="0" cellspacing="0" border="0" class="draftList_Table">
                <tr>
                    <td class="draftList_Td width_1"> 单号</td>
                    <td class="draftList_Td width_2"> 退件单号</td>
                    <td class="draftList_Td width_3"> 关联工单</td>
                </tr>
            </table>
            <ion-list can-swipe="true" class="quoted_Table_list">
                <ion-item ng-repeat="item in rejectedItems" ng-cloak>
                    <table cellpadding="0" cellspacing="0" border="0" class="draftList_Table">
                        <tr>
                            <td class="draftList_Td width_1">
                                <input type="checkbox" class="draftList_Checkbox" ng-click="isRefundSelected(item)">
                            </td>
                            <td class="draftList_Td width_2 "> {{item.Name}}</td>
                            <td class="draftList_Td width_3 "> {{item.Service_Part_Order__r.Service_Order_Overview__r.Name}}</td>
                        </tr>
                    </table>
                </ion-item>
            </ion-list>
            <div class="draftList_Btn" ng-click="goRefundView()"> 进入</div>
        </div>
        <!--<div>-->
            <!--<div class="small_Type_Title_Group">-->
                <!--<div class="small_Type_Title_G"> 交货列表</div>-->
                <!--&lt;!&ndash; 切换收缩开关arrow_Down_White / arrow_Left_White &ndash;&gt;-->
                <!--<div class="OpenClose_Btn arrow_Down_White"></div>-->
            <!--</div>-->

            <!--<div class="">-->
                <!--<select class="small_Type_Select" ng-change="selectStateChange(stateS)" ng-model="stateS" ng-init="stateS = '交货状态选择'">-->
                    <!--<option>交货状态选择</option>-->
                    <!--<option>Open</option>-->
                    <!--<option>Close</option>-->
                <!--</select>-->
            <!--</div>-->
            <!--<table cellpadding="0" cellspacing="0" border="0" class="deliveryList_Table">-->
                <!--<tr>-->
                    <!--<td class="deliveryList_Td width_1"> 退件单号</td>-->
                    <!--<td class="deliveryList_Td width_2"> 关联工单</td>-->
                    <!--<td class="deliveryList_Td width_3 deliveryList_Td_Right">状态</td>-->
                <!--</tr>-->
            <!--</table>-->
            <!--<ion-list can-swipe="true" class="quoted_Table_list">-->
                <!--<ion-item ng-repeat="item in OpenCdraftRejectedItems" ng-cloak>-->
                    <!--<table cellpadding="0" cellspacing="0" border="0" class="deliveryList_Table">-->

                        <!--<tr>-->
                            <!--<td class="deliveryList_Td width_1 textDecoration" ng-click="goRefundDetailView(item)">  {{item.SAP_Delivery_Order__c}}</td>-->

                            <!--<td class="deliveryList_Td width_2"  ng-click="goWorkItemView(item.Service_Order_Overview__c)"> {{item.Service_Order_Overview__r.Name}}</td>-->
                            <!--<td class="deliveryList_Td width_4 deliveryList_Td_Right stateColor">-->
                                <!--<div class="cus_display">{{item.D_Status__c}}</div>-->
                                <!--<div class="cus_display" style="position: relative;">-->
                                    <!--<div class="explain_Icon" ng-click="popupRefundContext(item)"> </div>-->
                                <!--</div>-->
                            <!--</td>-->
                        <!--</tr>-->
                    <!--</table>-->
                <!--</ion-item>-->
            <!--</ion-list>-->
        <!--</div>-->
    </div>
</div>
</body>
</html>
