<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>discovery</title>
	<link rel="stylesheet" href="././css/discovery.css">

	<style type="text/css">
		.search_Icon {
			background-image: url(././img/images/search_icon_black.png);
		}
		.search_Icon_White {
			background-image: url(././img/images/earch_icon_white.png);
		}
		.small_Box_Pic {
			background-image: url(././img/images/small_Box_Pic.png);
		}
	</style>
</head>
<body>
	<div class="header">
		<!-- 搜索框显示隐藏 to_Hide切换 -->
	  	<div class="search_All">
	  		<input type="text" placeholder="搜索" class="search_Input to_Hide" />
	  		<div class="search_Icon to_Hide"></div>
	  	</div>
	  	<div class="search_right_Group">
	  		<div class="text_Cancel to_Hide"> 取消 </div>
		  	<div class="search_Icon_White">
		  	</div>
	  	</div>
	</div>
	<div class="bodyer">
	  	<div class="big_Box_Group">
	  		<div class="small_Box_Group">
	  			<div class="small_Box_Title"> [保养服务]送10次全年保养 </div>
	  			<div class="small_Box_Text">
	  				为了确保生产顺畅，您的叉车应尽量减少故障停机时间。林德物料搬运为保养和维修服务提供支持。高素质的服务工程师队伍快速
	  			</div>
	  			<div class="small_Box_Pic"></div>
	  		</div>
	  		<div class="small_Box_Group">
	  			<div class="small_Box_Title"> [保养服务]送10次全年保养 </div>
	  			<div class="small_Box_Text">
	  				为了确保生产顺畅，您的叉车应尽量减少故障停机时间。林德物料搬运为保养和维修服务提供支持。高素质的服务工程师队伍快速
	  			</div>
	  			<div class="small_Box_Pic"></div>
	  		</div>
	  		<div class="small_Box_Group">
	  			<div class="small_Box_Title"> [保养服务]送10次全年保养 </div>
	  			<div class="small_Box_Text">
	  				为了确保生产顺畅，您的叉车应尽量减少故障停机时间。林德物料搬运为保养和维修服务提供支持。高素质的服务工程师队伍快速
	  			</div>
	  			<div class="small_Box_Pic"></div>
	  		</div>
	  	</div>
  	</div>
  	<div class="footer">
  		<!-- footer_Act_Btn切换选择页面 -->
  		<div class="footer_Btn">首页</div>
  		<div class="footer_Btn footer_Act_Btn">发现</div>
  		<div class="footer_Btn">分类</div>
  		<div class="footer_Btn">个人</div>
  	</div>
</body>
</html>