<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Froklift Truck Configuration </title>

	<link rel="stylesheet" href="././css/frokliftTruckConfiguration.css">

	<style type="text/css">
		.frokliftTruckConfiguration_bodyer {
			background-image: url(./images/bg_img.png);
		}
		.arrow_Down_White {
			background-image: url(./images/arrow_Down_White.png);
		}
		.arrow_Left_White {
			background-image: url(./images/arrow_Left_White.png);
		}
	</style>
</head>
<body>
	<div class="frokliftTruckConfiguration_header">
		<div class="left_Box">
		</div>
  		<div class="center_Box">
	  		<div class="center_Title">叉车配置</div>
		</div>
		<div class="right_Box">
		</div>
	</div>
	<div class="frokliftTruckConfiguration_bodyer">	
	  	<div class="big_Type_Group">
	  		<div>
	  			<div class="small_Type_Title_Group">
	  				<div class="small_Type_Title_G"> 设备编号 </div>
	  				<!-- 切换收缩开关arrow_Down_White / arrow_Left_White -->
	  				<div class="OpenClose_Btn arrow_Down_White"></div>
	  			</div>
				<div class="readonly_supplier_Inf">
	  				<div class="inf_Box">
	  					<div class="inf_Left_Text"> 叉车序列号：</div><div class="inf_Right_Text"> 1000000</div>
  					</div>
  					<div class="inf_Box">
	  					<div class="inf_Left_Text"> 保修起始日：</div><div class="inf_Right_Text"> 2018/2/2</div>
  					</div>
  					<div class="inf_Box">
	  					<div class="inf_Left_Text"> 保修结束日：</div><div class="inf_Right_Text"> 2018/2/2</div>
  					</div>
  					<div class="inf_Box">
	  					<div class="inf_Left_Text"> 车型：</div><div class="inf_Right_Text">111</div>
  					</div>
  					<div class="inf_Box">
	  					<div class="inf_Left_Text"> 车系：</div><div class="inf_Right_Text">111</div>
  					</div>
  					<div class="inf_Box">
	  					<div class="inf_Left_Text"> 车辆地址：</div><div class="inf_Right_Text">111</div>
  					</div>
		  		</div>
		  	</div>
		  	<div>
	  			<div class="small_Type_Title_Group">
	  				<div class="small_Type_Title_G"> 设备特性 </div>
	  				<!-- 切换收缩开关arrow_Down_White / arrow_Left_White -->
	  				<div class="OpenClose_Btn arrow_Down_White"></div>
	  			</div>
				<div class="readonly_supplier_Inf">
	  				<div class="inf_Box">
	  					<div class="inf_Left_Text"> 特性编码：</div><div class="inf_Right_Text"> 1111111</div>
  					</div>
  					<div class="inf_Box">
	  					<div class="inf_Left_Text"> 特征名称：</div><div class="inf_Right_Text"> 1111111</div>
  					</div>
  					<div class="inf_Box">
	  					<div class="inf_Left_Text"> 特性描述：</div><div class="inf_Right_Text"> 1111111 111111 111111 1111111 111111 111111 1111111 111111 111111</div>
  					</div>
  					<div class="inf_Box">
	  					<div class="inf_Left_Text"> 特性值：</div><div class="inf_Right_Text"> 1111111</div>
  					</div>
  					<div class="inf_Box">
	  					<div class="inf_Left_Text"> 特性值文本：</div><div class="inf_Right_Text"> 1111111</div>
  					</div>
		  		</div>
	  		</div>
	  	</div>
  	</div>
</body>
</html>