<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> generate orders </title>
	<link rel="stylesheet" href="././css/generateOrders.css">
	<link rel="stylesheet" href="././css/lCalendar.css">
	<script src='app/core/lib/lCalendar.min.js'></script>
	<script src='app/core/lib/lCalendar.js'></script>
	<style type="text/css">
		.generateOrders_bodyer {
			background-image: url(././img/bg_img.png);
		}
	</style>
</head>
<body>
	<div class="generateOrders_header">
		<div class="left_Box">
		</div>
  		<div class="center_Box">
	  		<div class="center_Title">生成配件订单</div>
		</div>
		<div class="right_Box">
		</div>
	</div>
	<div class="generateOrders_bodyer">	
	  	<div class="big_Type_Group">
	  		<div>
	  			<div class="small_Type_Group">
  					<div class="line_two">
		  				<div class="small_Type_Title"> 收货联系人: </div>
						<div class="small_Type_Box">
			  				<input class="small_Type_Input" ng-model="Consignee__c"/>
			  			</div>
			  		</div>
			  		<div class="line_two">
		  				<div class="small_Type_Title"> 联系电话: </div>
						<div class="small_Type_Box">
			  				<input class="small_Type_Input" ng-model="Tel__c"/>
			  			</div>
			  		</div>
			  	</div>
		  		<div class="small_Type_Group">
		  			<div class="small_Type_Title"> 收获地址: </div>
					<div class="small_Type_Box">
		  				<input class="small_Type_Input" ng-model="Delivery_Address__c"/>
		  			</div>
		  		</div>
		  		<div class="small_Type_Group">
  					<div class="line_two">
		  				<div class="small_Type_Title"> 订单类型: </div>
						<div class="small_Type_Box">
			  				<select>
			  					<option>ZCS1</option>
			  				</select>
			  			</div>
			  		</div>
			  		<div class="line_two">
		  				<div class="small_Type_Title"> 订单等级: </div>
						<div class="small_Type_Box">
			  				<select id="Priority__c">
								  <option>50</option>
								  <option>60</option>
								  <option>99</option>
			  				</select>
			  			</div>
			  		</div>
			  	</div>
			  	<div class="small_Type_Group">
  					<div class="line_two">
		  				<div class="small_Type_Title"> 订单日期: </div>
						<div class="small_Type_Box">
							<input id="currentDate" type="text" readonly="" name="input_date" placeholder="日期选择" data-lcalendar="2011-01-1,2030-12-31" />
			  			</div>
			  		</div>
			  		<div class="line_two">
		  				<div class="small_Type_Title"> 整单交货日期: </div>
						<div class="small_Type_Box">
							<input id="currentDate1" type="text" readonly="" name="input_date" placeholder="日期选择" data-lcalendar="2011-01-1,2030-12-31" />
			  			</div>
			  		</div>
			  	</div>
			  	<div class="small_Type_Group">
		  			<div class="small_Type_Title"> 是否整单交货: </div>
					<div class="small_Type_Box">
		  				<input type="checkbox" id="Entire__c"/>
		  			</div>
		  		</div>
	  		</div>
	  	</div>
  	</div>
  	<div class="generateOrders_footer">
  		<div class="footer_Btn" ng-click="goBack()">取消</div>
  		<div class="footer_Btn generate_Btn" ng-click="goToGenerate()">生成</div>
  	</div>
</body>
</html>