<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> new work list </title>
	<link rel="stylesheet" href="././css/goH5.css">

	<style type="text/css">
		.volume_Icon {
			background-image: url(././img/images/volume_icon.png);
		}

		.back_Icon {
			background-image: url(././img/images/back_icon.png);
		}

		.arrange_bodyer {
			background-image: url(././img/images/bg_img.png);
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>
</head>

<body>
	<div class="header">
		<div class="left_Box" ng-click="goBack()">
			<div class="back_Icon"></div>
		</div>
		<div class="center_Box">
			<div class="center_Title">返回</div>
		</div>

	</div>
	<div class="arrange_bodyer">

		<iframe id="sendUrl" width="100%" height="100%" frameborder="1/0" name="iframe名称" scrolling="yes">
		</iframe>

	</div>
	<!-- <div class="footer">
		<div class="footer_Btn" ng-click="goBack()">取消</div>
		<div class="footer_Btn Save_Btn_Act" ng-click="submitOrder()">确认</div>
	</div> -->
</body>

</html>
