<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='././css/fullcalendar.css' />
    <link rel="stylesheet" href="././css/homepage.css">
    <link rel="stylesheet" href="././css/date_Head.css">
    <link rel="stylesheet" href="././css/group.css">
    <link rel="stylesheet" href="././css/simplePerson.css">
        <!--fullcalendar-->
        <script src='app/core/lib/jquery.min.js'></script>
        <script src='app/core/lib/fullcalendar.js'></script>
    <style type="text/css">
        .search_Photo_Icon {
            background-image: url(././img/images/search-photo_icon.png);
        }

        .add_Icon_White {
            background-image: url(././img/images/add_icon_white.png);
        }

        .homeBack_Icon {
            background-image: url(././img/images/homeBack_Icon.png);
        }

        .arrow_Down_Red {
            background-image: url(././img/images/arrow_Down_Red.png);
        }

        .arrow_Left_Red {
            background-image: url(././img/images/arrow_Left_Red.png);
        }

        .datepicker {
            background-image: url(././img/images/datepicker.png);
        }

        .checkmark_Icon .table_Img {
            background-image: url(././img/images/checkmark_Icon.png);
        }

        .info_Icon .table_Img {
            background-image: url(././img/images/info_Icon.png);
        }

        .warning_Icon .table_Img {
            background-image: url(././img/images/warning_Icon.png);
        }

        .group_Img {
            background-image: url(././img/images/group_Img.jpg);
        }

        .simplePerson_Head {
            background-image: url(././img/images/simplePerson_Head.jpg);
        }

        .main_bodyer, .personal_bodyer, .calendar_bodyer {
            background-image: url(././img/images/bg_img.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>

<body>
    <ion-view>
        <ion-tabs class="tabs-striped tabs-assertive ion_change_style">

            <ion-tab title="首页" ng-controller="HomeController">
                <ion-view>
                    <div class="main_header">
                        <div class="left_Box">
                            <button menu-toggle="left" class="button button-icon icon ion-navicon" style="color:#ffffff;"></button>
                        </div>
                        <div class="search_All">
                            <input type="text" placeholder="搜索" class="search_Input" disabled="disabled" />
                            <div class="search_Photo_Icon"></div>
                        </div>
                        <div class="right_Box" ng-click="toDisplayBox()">
                            <div class="add_Icon_White"></div>
                            <div class="add_Arrow " id="add_contactsImg"></div>
                            <div class="add_Group " id="add_bgbox">
                                <div class="add_Box"> 添加客户 </div>
                                <div class="add_Box"> 添加联系人 </div>
                                <div class="add_Box"> 添加工单 </div>
                                <div class="add_Box"> 添加报价 </div>
                            </div>
                        </div>
                    </div>
                    <div class="main_bodyer">
                            <div class="main_big_Type_Group">
                                    <div class="main_small_Type_Group">
                                        <div class="main_small_Type_Title"> 工单 </div>
                                        <table cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td class="main_small_Type_Box" style="color: #F85360;">全部(20) </td>
                                                <td class="main_small_Type_Box">待处理(1)</td>
                                                <td class="main_small_Type_Box">处理中(10)</td>
                                            </tr>
                                            <tr>
                                                <td class="main_small_Type_Box">已签单(5)</td>
                                                <td class="main_small_Type_Box">计划中(4)</td>
                                                <td class="main_small_Type_Box" style="opacity: 0.3;"> &nbsp;</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="main_small_Type_Group">
                                        <div class="main_small_Type_Title"> 辅助功能 </div>
                                        <table cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td class="main_small_Type_Box" style="background: #53A0F8;color:#ffffff;">服务车管理 </td>
                                                <td class="main_small_Type_Box" style="background: #A253F8;color:#ffffff;">叉车问题反馈</td>
                                                <td class="main_small_Type_Box" style="opacity: 0.3;">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td class="main_small_Type_Box" style="opacity: 0.3;">&nbsp;</td>
                                                <td class="main_small_Type_Box" style="background: #F85360;color:#ffffff;">故障代码查询</td>
                                                <td class="main_small_Type_Box" style="background: #F85383;color:#ffffff;"> 应收账款查询</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                    </div>
                </ion-view>
            </ion-tab>
            <ion-tab title="日历" ng-controller="CalendarController">
                <ion-view>
                    <div class="calendar_header">
                        <div class="left_Box">
                            <div class="homeBack_Icon"></div>
                        </div>
                        <div class="search_All" ng-click="toRepair1()">
                            <input type="text" readonly="readonly" placeholder="搜索" autocomplete="off" class="search_Input" />
                            <div class="search_Photo_Icon"></div>
                        </div>
                        <div class="right_Box">
                            <div class="add_Icon_White"></div>
                            <div class="add_Arrow to_Hide"></div>
                            <div class="add_Group to_Hide">
                                <div class="add_Box"> 添加客户 </div>
                                <div class="add_Box"> 添加联系人 </div>
                                <div class="add_Box"> 添加工单 </div>
                                <div class="add_Box"> 添加报价 </div>
                            </div>
                        </div>
                    </div>
                    <div class="calendar_bodyer">
                        <!-- 日历 -->
                        <div id="calendar"></div>
                        <table class="screen_Btn_Group">
                            <tr>
                                <td class="screen_Left">
                                    <select id="selectStatusId">
                                        <option>全部</option>
                                        <option>未安排</option>
                                        <option>未开始</option>
                                        <option>进行中</option>
                                        <option>已完成</option>
                                    </select>
                                </td>
                                <td class="screen_Right">
                                    <select id="selectUserId">
                                        <option ng-repeat="itemuser in allUser">{{itemuser.userName}}</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <div class="big_Type_Group">
                            <ion-list can-swipe="true">
                                <ion-item id="orderlist" ng-repeat="item in currentOrder" ng-cloak ng-click="showPopup(item)" class="small_Type_Table">

                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class="table_Left"> 客户名称： </td>
                                            <td class="table_Center"> {{item.Name}}</td>
                                            <td class="table_Right info_Icon" rowspan="2">
                                                <div class="table_Img"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="table_Left"> 服务项目：</td>
                                            <td class="table_Center state_Color"> {{item.Service_Order_Type__c}}</td>
                                        </tr>
                                    </table>
                                </ion-item>

                            </ion-list>
                        </div>
                    </div>
                </ion-view>
            </ion-tab>
            <ion-tab title="小组" ng-controller="GroupController">
                <ion-view>
                    <div class="group_header">
                        <div class="left_Box">
                        </div>
                        <div class="search_All">
                            <input type="text" placeholder="搜索" class="search_Input" disabled="disabled" />
                            <div class="search_Photo_Icon"></div>
                        </div>
                        <div class="right_Box">
                            <div class="add_Icon_White"></div>
                            <div class="add_Arrow to_Hide"></div>
                            <div class="add_Group to_Hide">
                                <div class="add_Box"> 添加客户 </div>
                                <div class="add_Box"> 添加联系人 </div>
                                <div class="add_Box"> 添加工单 </div>
                                <div class="add_Box"> 添加报价 </div>
                            </div>
                        </div>
                    </div>
                    <div class="group_bodyer">
                        <div class="group_Img">
                        </div>
                    </div>
                </ion-view>
            </ion-tab>
            <ion-tab title="个人" ng-controller="PersonalController">
                <ion-view>
                    <div class="personal_header">
                        <div class="simplePerson_Head">
                        </div>
                    </div>
                    <div class="personal_bodyer">
                        <div class="personal_big_Type_Group">
                            <div class="personal_small_Type_Group">
                                <div class="personal_small_Type_Title"> 工单 </div>
                                <table cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="personal_small_Type_Box" style="color: #F85360;">全部(20) </td>
                                        <td class="personal_small_Type_Box">待处理(1)</td>
                                        <td class="personal_small_Type_Box">处理中(10)</td>
                                    </tr>
                                    <tr>
                                        <td class="personal_small_Type_Box">已签单(5)</td>
                                        <td class="personal_small_Type_Box">计划中(4)</td>
                                        <td class="personal_small_Type_Box" style="opacity: 0.7;"> &nbsp;</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="personal_small_Type_Group">
                                <div class="personal_small_Type_Title"> 辅助功能 </div>
                                <table cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="personal_small_Type_Box" style="background: #53A0F8;color:#ffffff;">服务车管理 </td>
                                        <td class="personal_small_Type_Box" style="background: #A253F8;color:#ffffff;">叉车问题反馈</td>
                                        <td class="personal_small_Type_Box" style="opacity: 0.7;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="personal_small_Type_Box" style="opacity: 0.7;">&nbsp;</td>
                                        <td class="personal_small_Type_Box" style="background: #F85360;color:#ffffff;">故障代码查询</td>
                                        <td class="personal_small_Type_Box" style="background: #F85383;color:#ffffff;"> 应收账款查询</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </ion-view>
            </ion-tab>
        </ion-tabs>
    </ion-view>
</body>

</html>