<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> loading Page </title>
	<link rel="stylesheet" href="styles/loadingPage.css">

	<style type="text/css">
		.loadingPage_bodyer {
			background-image: url(./images/bg_img.png);
		}
		.lindeLogo_red {
			background-image: url(./images/lindeLogo-red.png);
		}
	</style>
</head>
<body>
	<div class="loadingPage_bodyer">	
	  	<div class="big_Type_Group">
	  		<div class="lindeLogo_red">
		  	</div>
		  	<div class="text_Div">
		  		<div class="text_large"> 您好，<span class="text_red"> XXX </span> 先生/女士！</div>
		  		<div class="text_large"> 欢迎回来！</div>
		  		<div class="text_small"> 昨天（2018年12月30日星期几）</div>
		  		<div class="text_small"> 您花了 <span class="text_red"> 5小时56分钟 </span></div>
		  		<div class="text_small">（4小时20分钟现场 + 1小时36分钟旅途）</div>
		  		<div class="text_small"> 跑了<span class="text_red"> 80公里 </span> 的距离</div>
		  		<div class="text_small"> 完成<span class="text_red"> 2个 </span> 服务单的工作。</div>
		  		<div class="text_small"> 感谢您的辛勤付出！</div>
		  		<a href="" class="text_red">（若对上述有疑义请点此处并联系您的主管）</a>
		  	</div>
		  	<div class="btn_Div">
			  	<div class="wait_Btn">
			  		请耐心等待一会儿...
			  	</div>
			  	<div class="goto_Btn to_Hide">
			  		点击开始新的一天
			  	</div>
		  	</div>
	  	</div>
  	</div>
</body>
</html>