<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> new work list </title>
    <link rel="stylesheet" href="././css/newLinkMan.css">
    <style type="text/css">
        .search_Photo_Icon {
            background-image: url(././img/images/search-photo_icon.png);
        }

        .search_small_black {
            background-image: url(././img/images/search_small_black.png);
        }

        .back_Icon {
            background-image: url(././img/images/back_icon.png);
        }

        .search_bodyer {
            background-image: url(././img/images/bg_img.png);
        }
    </style>
</head>

<body>

    <div class="newLinkMan_Select" style="height:100vh;width:100vw;position:absolute;opacity:0;">
        <div id="selectCustomer" style="">
            <div class="header2">
                <div class="left_Box" ng-click="closeSelectPage();">
                    <div class="back_Icon"></div>
                </div>
                <div class="search_All">
                    <input type="text" id="searchBig" placeholder="搜索" class="search_Input" ng-change="searchChange()"
                        ng-model="searchAcctText" />
                    <!--<div class="search_Photo_Icon"></div>-->
                </div>
                <div class="search_right_Group" id="cancleBtn1" ng-click="getAccts(searchAcctText);" ng-show="searchAcctText">
                    <div class="text_Cancel"> 搜索 </div>
                </div>
            </div>
            <div class="bodyer_nofooter search_bodyer" style="background-color: white;">
                <div class="big_Box_Group">
                    <div class="small_Box_Title"> 查询客户 </div>
                    <ion-list can-swipe="true">
                        <ion-item id="items2" ng-repeat="item in contentItems" ng-cloak ng-click="selectAccount(item);"
                            class="small_Box_Text">
                            {{item.Name}}
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </div>
        <div id="selectContact" style="">
            <div class="header2">
                <div class="left_Box" ng-click="closeSelectPage()">
                    <div class="back_Icon"></div>
                </div>
                <div class="center_Box">
                    <div class="center_Title">联系人列表</div>
                </div>
                <div class="right_Box">
                    <div class="add_Icon_White"></div>
                </div>
            </div>
            <div class="bodyer_nofooter search_bodyer" style="background-color: white;">
                <div class="big_Box_Group">
                    <div class="small_Box_Title">选择联系人</div>
                    <ion-list can-swipe="true">
                        <ion-item ng-repeat="contact in contacts" ng-click="selectContact(contact)" class="small_Box_Text">
                            <P>姓名：{{contact.displayName}} </P> <br />
                            <P>手机号：{{contact.phoneNumber}} </P>

                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </div>
    </div>

    <div class="newWorkList_main" style="height:100vh;width:100vw;position:absolute;background-color: white;opacity:1;">
        <div class="header">
            <div class="left_Box">
            </div>
            <div class="center_Box">
                <div class="center_Title">新建联系人</div>
            </div>
            <div class="right_Box">
                <div class="add_Icon_White"></div>
            </div>
        </div>
        <div class="bodyer">
            <div class="newwork_big_Type_Group">
                <div class="small_Type_Group">
                    <div class="small_Type_Title">姓名:</div>
                    <div class="small_Type_Box">
                        <input placeholder="" id="chooseLinkManName" style="background-color:transparent;" value={{chooseLinkManName}}
                            class="small_Type_Input" />
                        <div class="search_small_black" ng-click="openSelectPage('linkMan');"></div>

                        <!--<div class="search_small_black"></div>-->
                        <!--<input type="button" id="chooseLinkManName" value={{chooseLinkManName}} style="background-color:white;" ng-click="openSelectPage('linkMan');" class="small_Type_Input"/>-->
                    </div>
                </div>
                <div class="small_Type_Group">
                    <div class="small_Type_Title">客户名:</div>
                    <div class="small_Type_Box">
                        <input placeholder="" id="searchResultAcctName" style="background-color:transparent;" value={{searchResultAcctName}}
                            class="small_Type_Input" />
                        <div class="search_small_black" ng-click="openSelectPage('customer');"></div>
                        <!--<div class="search_small_black"></div>-->
                        <!--<input type="button" id="searchResultAcctName" value={{searchResultAcctName}} style="background-color:white;"  class="small_Type_Input"/>-->
                    </div>
                </div>
                <div class="small_Type_Group">
                    <div class="small_Type_Title">电话:</div>
                    <div class="small_Type_Box">
                        <input placeholder="" id="chooseLinkManPhoneNumber" style="background-color:transparent;" value={{chooseLinkManPhoneNumber}}
                            class="small_Type_Input" />
                        <div class="search_small_black" ng-click="openSelectPage('linkMan');"></div>
                        <!--<input type="button" id="chooseLinkManPhoneNumber" value={{chooseLinkManPhoneNumber}} style="background-color:white;" ng-click="openSelectPage('linkMan');" class="small_Type_Input"/>-->
                    </div>
                </div>
                <div class="small_Type_Group">
                    <div class="small_Type_Title">邮件:</div>
                    <div class="small_Type_Box">
                        <input type="text" id="chooseLinkManEmail" style="background-color:white;" class="small_Type_Input" />
                    </div>
                </div>
                <div class="small_Type_Group">
                    <div class="small_Type_Title">状态:</div>
                    <div class="small_Type_Box">
                        <select id="select_status_type" class="small_Type_Select">
                            <option ng-repeat="status in vm.allStatus" id="chooseLinkManStatus" value={{status.value}}>{{status.label}}</option>
                        </select>
                    </div>
                </div>
                <div class="small_Type_Group">
                    <div class="small_Type_Title">职位类型:</div>
                    <div class="small_Type_Box">
                        <select id="select_position_type" class="small_Type_Select">
                            <option ng-repeat="postionType in vm.postionTypes" id="chooseLinkManPostionType" value={{postionType.value}}>{{postionType.label}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer_Btn" ng-click="goBack();">取消</div>
            <div class="footer_Btn Save_Btn_Act" ng-click="saveContactData();">保存</div>
        </div>
    </div>

</body>

</html>