<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> purchase </title>
	<link rel="stylesheet" href="././css/purchase.css">
	<script src='app/core/lib/lCalendar.min.js'></script>
	<script src='app/core/lib/lCalendar.js'></script>

	<script src='app/core/lib/jquery.min.js'></script>
	<style type="text/css">
		/* body */
		.purchase_bodyer {
			overflow-y: auto;
			height: calc(100vh - 65px);
			background-repeat: no-repeat;
			background-size: cover;
			width: 100%;
		}
		.purchase_bodyer {
			background-image: url(././img/images/bg_img.png);
		}
		.arrow_Down_White {
			background-image: url(././img/images/arrow_Down_White.png);
		}
		.back_Icon {
			background-repeat: no-repeat;
			background-size: cover;
			width: 14px;
			height: 24px;
			background-image: url(././img/images/back_icon.png);
		}
		.arrow_Left_White {
			background-image: url(././img/images/arrow_Left_White.png);
		}
		.btn_modify_Group {
			background-image: url(././img/images/modify_Group.png);
		}
		.search_type_black {
			background-image: url(././img/images/search_small_black.png);
		}
		.back_Icon {
			background-image: url(././img/images/back_icon.png);
		}
	</style>

</head>
<body>

<!--采购申请页面-->
<div style="display: block;">
	<div class="purchase_header">
		<div class="left_Box" ng-click="goBack()">
			<div class="back_Icon"></div>
		</div>
		<div class="center_Box">
			<div class="center_Title">采购详情</div>
		</div>
		<div class="right_Box">
		</div>
	</div>
	<div class="purchase_bodyer">
		<div class="big_Type_Group">
			<div>
				<div class="small_Type_Title_Group" ng-click="showBaseInfo();">
					<div class="small_Type_Title_G"> 基本信息</div>
					<!-- 切换收缩开关arrow_Down_White / arrow_Left_White -->
					<div class="OpenClose_Btn arrow_Down_White" id="baseInfoImg"></div>
				</div>
				<div id="baseBugInfo">
					<div class="small_Type_Group">
						<div class="line_two">
							<div class="small_Type_Title"> 采购类型:</div>
							<div class="small_Type_Box">
								<select id="recordTypeList">
									<option ng-repeat="recordTypeItem in recordTypes" value="{{recordTypeItem.label}}">{{recordTypeItem.value}}</option>
								</select>
							</div>
						</div>
						<div class="line_two">
							<div class="small_Type_Title"> 计划日期:</div>
							<div class="small_Type_Box">
								<input id="planDate" type="text" readonly style="text-align:center" name="input_date" placeholder="日期选择" data-lcalendar="2011-01-1,2030-12-31" />
							</div>
						</div>
					</div>
					<div class="small_Type_Group">
						<div class="line_two_65">
							<div class="search_Type_Box" ng-click="searchForBusiness();">
								<input class="search_Type_Input" placeholder="供应商编号/供应商名称" value="{{chooseItem.Name}}" disabled="disabled"/>
								<!--<div class="search_type_black"></div>-->
							</div>
						</div>
						<div class="line_two_35" ng-click="showBusinessInfo();">
							<div class="supplier_Inf_Btn">
								供应商信息
							</div>
							<div class="arrow_Down_White" id="businessInfoImg"></div>
						</div>
					</div>
					<!-- 两种状态，填写和只读 -->
					<!--<div class="readonly_supplier_Inf" >-->
					<!--<div class="inf_Box">-->
					<!--<div class="inf_Left_Text"> 供应商地址：</div><div class="inf_Right_Text"> </div>-->
					<!--</div>-->
					<!--<div class="inf_Box">-->
					<!--<div class="inf_Left_Text"> 供应商邮编：</div><div class="inf_Right_Text"></div>-->
					<!--</div>-->
					<!--<div class="inf_Box">-->
					<!--<div class="inf_Left_Text"> 电话：</div><div class="inf_Right_Text"></div>-->
					<!--</div>-->
					<!--<div class="inf_Box">-->
					<!--<div class="inf_Left_Text"> 传真：</div><div class="inf_Right_Text"></div>-->
					<!--</div>-->
					<!--</div>-->
					<div class="edit_supplier_Inf" id="businessBox">
						<div class="small_Type_Group">
							<div class="small_Type_Title">供应商地址:</div>
							<div class="small_Type_Box">
								<input class="small_Type_Input_80" ng-cloak value="{{chooseItem.Province__c}}" readonly/>
								<span class="small_Type_Span">（省份）</span>
								<input class="small_Type_Input_80" ng-cloak value="{{chooseItem.City__c}}" readonly/>
								<span class="small_Type_Span">（城市）</span>
								<input class="small_Type_Input" ng-cloak value="{{chooseItem.Address__c}}" readonly/>
							</div>
						</div>
						<div class="small_Type_Group">
							<div class="small_Type_Title">供应商邮编:</div>
							<div class="small_Type_Box">
								<input class="small_Type_Input" ng-cloak value="{{chooseItem.Post_Code__c}}" readonly/>
							</div>
						</div>
						<div class="small_Type_Group">
							<div class="line_two">
								<div class="small_Type_Title"> 电话:</div>
								<div class="small_Type_Box">
									<input class="small_Type_Input_95" ng-cloak value="{{chooseItem.Telephone__c}}" readonly/>
								</div>
							</div>
							<div class="line_two">
								<div class="small_Type_Title"> 传真:</div>
								<div class="small_Type_Box">
									<input class="small_Type_Input_95" ng-cloak value="{{chooseItem.FAX__c}}"  readonly/>
								</div>
							</div>
						</div>
					</div>
					<div class="small_Type_Group">
						<div class="small_Type_Title">采购描述:</div>
						<div class="small_Type_Box">
							<textarea id="purchaseDesc" class="small_Type_Textarea"></textarea>
						</div>
					</div>
					<div class="small_Type_Group">
						<div class="line_two">
							<div class="small_Type_Title"> 服务单:</div>
							<div class="small_Type_Box" ng-click="searchForWorkOrder();">
								<input class="small_Type_Input_95" placeholder="服务单" value="{{chooseWorkOrder.Name}}" disabled="disabled"/>
							</div>
						</div>
						<div class="line_two">
							<div class="small_Type_Title"> 状态:</div>
							<div class="small_Type_Box">
								<select class="small_Type_Select_Status" id="statusList">
									<option ng-repeat="statusItem in statuses" ng-cloak>{{statusItem.value}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="small_Type_Group">
						<div class="small_Type_Title"> 税率:</div>
						<div class="small_Type_Box">
							<select class="small_Type_Select" id="taxList">
								<option ng-repeat="taxItem in Taxes" ng-cloak>{{taxItem.value}}</option>
							</select>
						</div>
					</div>
					<div class="small_Type_Group">
						<div class="line_three">
							<div class="small_Type_Title"> 订单收入(含税):</div>
							<div class="small_Type_Box">
								<input class="small_Type_Input_90" id="revenue" ng-model="revenue" value="{{revenue}}" ng-change="countProfitRates();"/>
							</div>
						</div>
						<div class="line_three">
							<div class="small_Type_Title"> 采购价格(含税):</div>
							<div class="small_Type_Box">
								<input class="small_Type_Input_90" id="priceEach" ng-model="priceEach" value="{{priceEach}}" ng-change="countProfitRates();"/>
							</div>
						</div>
						<div class="line_three">
							<div class="small_Type_Title"> 利润率:</div>
							<div class="small_Type_Box">
								<input class="small_Type_Input_90" id="profit" value="{{profitRate}}％" readonly/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="small_Type_Title_Group">
					<div class="small_Type_Title_G_2"> 物料信息</div>
					<!-- 点击btn_M,添加click_Style -->
					<!--<div class="btn_M" ng-click="addOrDelMaterial()">-->
						<!--<div class="btn_modify_Group"></div>-->
					<!--</div>-->
					<!--<div class="btn_modify_Div to_Hide" id="materialAddBox">-->
						<!--<div class="Modify_Btn" ng-click="showMaterialPage();"> 添加</div>-->
						<!--<div class="Modify_Btn" ng-click="deleteSelectMatelials();"> 删除</div>-->
					<!--</div>-->
					<!-- 切换收缩开关arrow_Down_White / arrow_Left_White -->
					<div class="OpenClose_Btn arrow_Down_White" id="materialImg"  ng-click="showMaterialInfo();"></div>
				</div>
				<div id="materialContent">
					<div>
						<table cellpadding="0" cellspacing="0" border="0" class="material_Inf_Table">
							<tr>
								<th class="sv_Td">
									<input type="checkbox" id="selectMaterialCheck" class="sv_checkbox" ng-click="selectAllMaterial();"/>
								</th>
								<th class="sv_Td">
									<div> 编号</div>
								</th>
								<th class="sv_Td">
									<div> 数量</div>
								</th>
								<th class="sv_Td">
									<div> 描述/ 工厂</div>
								</th>
								<th class="sv_Td">
									<div> 净价</div>
								</th>
							</tr>
							<tr ng-repeat="chooseMaterial in chooseMaterials" ng-cloak>
								<td class="sv_Td">
									<input type="checkbox" class="sv_checkboxItem"/>
								</td>
								<td class="sv_Td">
									<input class="sv_Input" ng-model="chooseMaterial.Item_Code__c"  ng-cloak value="{{chooseMaterial.Item_Code__c}}"/>
								</td>
								<td class="sv_Td">
									<input class="sv_Input_Quantity" ng-model="chooseMaterial.Required_Quantity__c" ng-cloak value="{{chooseMaterial.Required_Quantity__c}}"/>
								</td>
								<td class="sv_Td">
									<input class="sv_Input"  ng-cloak value="{{chooseMaterial.Item_Description__c}}" readonly/><br/>
									<input class="sv_Input"  ng-cloak value="{{chooseMaterial.Factory__c}}"readonly/>
								</td>
								<td class="sv_Td">
									<input class="sv_Input" ng-model="chooseMaterial.Unite_Price__c" ng-cloak value="{{chooseMaterial.Unite_Price__c}}"/>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="small_Type_Group">
					<div class="small_Type_Title">采购备注:</div>
					<div class="small_Type_Box">
						<textarea class="small_Type_Textarea" id="purchaseMore"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>
