<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> refund </title>
	<link rel="stylesheet" href="././css/refund.css">

	<style type="text/css">
		.refund_bodyer {
			background-image: url(././img/images/bg_img.png);
		}

		.arrow_Down_White {
			background-image: url(././img/images/arrow_Down_White.png);
		}

		.arrow_Left_White {
			background-image: url(././img/images/arrow_Left_White.png);
		}

		.btn_modify_Group {
			background-image: url(././img/images/modify_Group.png);
		}

		.del_red_icon {
			background-image: url(././img/images/del_red_icon.png);
		}
	</style>
</head>

<body>
	<div class="refund_header">
		<div class="left_Box">
		</div>
		<div class="center_Box">
			<div class="center_Title">申请退件</div>
		</div>
		<div class="right_Box">
			<div class="download_icon"></div>
		</div>
	</div>
	<div class="refund_bodyer">
		<div class="big_Type_Group">
			<div>
				<table cellpadding="0" cellspacing="0" border="0" class="refund_Table">
					<tr>
						<th class="sv_Td">
							<div class="del_red_icon"></div>
						</th>
						<th class="sv_Td sv_Td_200">
							<div> 物料号 </div>
						</th>
						<th class="sv_Td">
							<div> 到货数 </div>
						</th>
						<th class="sv_Td">
							<div> 实用量 </div>
						</th>
						<th class="sv_Td sv_Td_200">
							<div> 序列号 </div>
						</th>
						<th class="sv_Td">
							<div> 退件数 </div>
						</th>
					</tr>
				</table>
				
				<div ng-repeat="reitemDetail in selectRefundInfo">
					<div class="refund_first">
						<div class="del_red_icon" ng-click="toDelOneRefundView(reitemDetail)"></div>
						<div class="box_num"> 交货单号: {{reitemDetail.SAP_Delivery_Order__c}} </div>
						<!-- 切换收缩开关arrow_Down_White / arrow_Left_White -->
						<!-- <div class="OpenClose_Btn arrow_Down_White"></div> -->
					</div>

					<ion-list can-swipe="true" class="quoted_Table_list">
						<ion-item ng-repeat="itemDetail in reitemDetail.Delivery_Line_Item__r" ng-cloak>
							<table cellpadding="0" cellspacing="0" border="0" class="refund_Table">
								<tr>
									<td class="sv_Td">
										<div class="del_red_icon" ng-click="toDelTwoRefundView(reitemDetail.Delivery_Line_Item__r,itemDetail)"></div>
									</td>
									<td class="sv_Td sv_Td_200">
										<div> {{itemDetail.Service_Material__rparts_number__c}} </div>
									</td>
									<td class="sv_Td">
										<div> {{itemDetail.Quantity__c}}</div>
									</td>
									<td class="sv_Td">
										<div> {{itemDetail.Used_Quantity__c}} </div>
									</td>
									<td class="sv_Td sv_Td_200">
										<div> 2334223 </div>
									</td>
									<td class="sv_Td" ng-init="Return_Quantity = itemDetail.Return_Quantity">
										<input type="text" class="sv_Input" ng-model="itemDetail.Return_Quantity"/>
									</td>
								</tr>
							</table>
						</ion-item>
					</ion-list>
					<div class="small_Type_Group">
						<div class="small_Type_Title">输入物流单号:</div>
						<div class="small_Type_Box">
							<input class="small_Type_Input" ng-model="reitemDetail.Return_Tracking_Number__c"/>
						</div>
					</div>
					<div class="small_Type_Group">
						<div class="small_Type_Title"> 退件原因: </div>
						<div class="small_Type_Box">
							<select class="small_Type_Select">
								<option>{{reitemDetail.Return_Status__c}}</option>
							</select>
						</div>
					</div>
					<div class="small_Type_Group">
						<div class="small_Type_Title">备注:</div>
						<div class="small_Type_Box">
							<textarea class="small_Type_Textarea" ng-model="DiffReason"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="footer_Btn" ng-click="goBackgw();">取消</div>
		<div class="footer_Btn Save_Btn_Act" ng-click="goToSave();">保存</div>
		<div class="footer_Btn Submit_Btn_Act" ng-click="goToSaveAndSubmit();">保存并提交</div>
	</div>
</body>

</html>