<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width,height=device-height">
	<title>search_1</title>
	<link rel="stylesheet" href="././css/search_1.css">
	<!-- <script src="././lib/ionic/js/ionic.bundle.min.js"></script>
	<link rel="stylesheet" type="text/css" href="././lib/ionic/css/ionic.min.css"> -->

	<style type="text/css">
		.search_Photo_Icon {
			background-image: url(./img/images/search-photo_icon.png);
		}

		.back_Icon {
			background-image: url(././img/images/back_icon.png);
		}

		.search_bodyer {
			background-image: url(././img/images/bg_img.png);
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>
</head>

<body>
	<ion-view>
		<ion-content overflow-scroll="true">
			<div class="header">
				<div class="left_Box" ng-click="goBack()">
					<div class="back_Icon"></div>
				</div>
				<div class="search_All">
					<input type="text" id="searchBig" autofocus="autofocus" placeholder="搜索" class="search_Input" ng-change="searchChange()"
					 ng-model="searchText" />
					<div class="search_Photo_Icon"></div>
				</div>
				<div class="search_right_Group" id="cancleBtn1" ng-click="searchText=''" ng-show="searchText">
					<div class="text_Cancel"> 取消 </div>
				</div>
			</div>
			<div class="search_bodyer">
				<div class="big_Box_Group">
					<div class="small_Box_Title"> 搜索结果 </div>
					<ion-list can-swipe="true" ng-show="isShow">
						<ion-item id="items1" ng-repeat="item in items" ng-cloak ng-click="showChildInfoList(item,searchText)" class="small_Box_Text">
							{{item}} {{ searchText }}
						</ion-item>
					</ion-list>
					<ion-list can-swipe="true" ng-show="!isShow">
						<ion-item id="items2" ng-repeat="item in contentItems" ng-cloak ng-click="toRepair4(item.Id)" class="small_Box_Text">
							<p>公司名称：{{item.Name}}</p>
							<p>公司地址：{{item.Address__c}}</p>
						</ion-item>
					</ion-list>
				</div>
			</div>
		</ion-content>
	</ion-view>
</body>

</html>