<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> transfer request list </title>
	<link rel="stylesheet" href="././transferRequestList.css">

	<style type="text/css">
		.transferRequestList_bodyer {
			background-image: url(././images/bg_img.png);
		}
		.explain_Icon {
			background-image: url(././images/explain_icon.png);
		}
		.back_Icon {
			background-repeat: no-repeat;
			background-size: cover;
			width: 14px;
			height: 24px;
			background-image: url(././img/images/back_icon.png);
		}
		.search_white {
			background-image: url(././images/search_white.png);
		}
	</style>
</head>
<body>
	<div class="transferRequestList_header">
		<div class="left_Box" ng-click="goBack()">
			<div class="back_Icon"></div>
		</div>
  		<div class="center_Box">
	  		<div class="center_Title">转移申请列表</div>
		</div>
		<div class="right_Box">
			<div class="search_white"></div>
		</div>
	</div>
	<div class="transferRequestList_bodyer">
	  	<div class="big_Type_Group">
		  	<div>
				<div class="selectTruckCP_Tabs" style="">
					<div id="selectTruckCP_Tab_1" class="selectTruckCP_Tab selectTruckCP_Tab_Active" ng-click="changeTruckTabWithCP('1');" style="">
						<span class="selectTruckCP_Tab_Text" style="">转移申请</span>
					</div>
					<div id="selectTruckCP_Tab_2" class="selectTruckCP_Tab" ng-click="changeTruckTabWithCP('2');" style="">
						<span class="selectTruckCP_Tab_Text" style="">报废申请</span>
					</div>
				</div>
	  			<div class="">
	  				<select class="small_Type_Select">
	  					<option> {{selectedTapIndex == '1' ? '转移申请状态选择' : '报废申请状态选择'}}</option>
	  				</select>
	  			</div>
		  		<table cellpadding="0" cellspacing="0" border="0" class="transferRequestList_Table">
		  			<tr>
		  				<td class="transferRequestList_Td width_1"> 转出客户 </td>
		  				<td class="transferRequestList_Td width_2"> 转入客户 </td>
		  				<td class="transferRequestList_Td width_3"> 车档号 </td>
		  				<td class="transferRequestList_Td width_4"> 备注 </td>
		  				<td class="transferRequestList_Td width_5 transferRequestList_Td_Right"> 状态 </td>
		  			</tr>
		  			<tr>
		  				<td class="transferRequestList_Td width_1"> 上海米其林公司 </td>
		  				<td class="transferRequestList_Td width_2"> 广东米其林公司 </td>
		  				<td class="transferRequestList_Td width_3"> C1X19928300182 </td>
		  				<td class="transferRequestList_Td width_4">
		  					<div style="position: relative;">
								<div class="explain_Icon"> </div>
								<div class="explain_Text to_Hide">
									<div>
										<span>备注:</span>
										<span>备注内容</span>
									</div>
								</div>
							</div>
						</td>
		  				<td class="transferRequestList_Td width_5 transferRequestList_Td_Right stateColor"> 已转移 </td>
		  			</tr>
		  		</table>
		  	</div>
	  	</div>
		<div class="footer">
			<div class="footer_Btn_Act" ng-click="goTransferRequest();">转出申请</div>
		</div>
  	</div>
</body>
</html>
