<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> transfer request </title>
	<link rel="stylesheet" href="././transferRequest.css">

	<style type="text/css">
		.transferRequest_bodyer {
			background-image: url(././images/bg_img.png);
		}
	</style>
</head>
<body>
	<div class="transferRequest_header">
		<div class="left_Box">
		</div>
  		<div class="center_Box">
	  		<div class="center_Title">转移申请</div>
		</div>
		<div class="right_Box">
		</div>
	</div>
	<div class="transferRequest_bodyer">
	  	<div class="big_Type_Group">
	  		<div>
	  			<div class="small_Type_Group">
		  			<div class="small_Type_Title"> 转出客户: </div>
					<div class="small_Type_Box" ng-click="openSelectPage('getCustomer');">
		  				<input class="small_Type_Input" placeHolder="地址/电话/客户编码" readonly="true" ng-model="getCustomerText"/>
		  			</div>
		  		</div>
		  		<div class="small_Type_Group">
		  			<div class="small_Type_Title"> 转入客户: </div>
					<div class="small_Type_Box" ng-click="openSelectPage('outCustomer');">
		  				<input class="small_Type_Input" placeHolder="地址/电话/客户编码" readonly="true" ng-model="outCustomerText"/>
		  			</div>
		  		</div>
		  		<div class="small_Type_Group">
		  			<div class="small_Type_Title"> 转出车档号: </div>
					<div class="small_Type_Box" ng-click="openVehicleNumberPage();">
		  				<input class="small_Type_Input" placeHolder="车型/门架号/发动机号" readonly="true" ng-model="vehicleTypeText"/>
		  			</div>
		  		</div>
	  			<div class="small_Type_Group">
		  			<div class="small_Type_Title">转出备注:</div>
		  			<div class="small_Type_Box">
		  				<textarea class="small_Type_Textarea"></textarea>
		  			</div>
		  		</div>
	  		</div>
	  	</div>
  	</div>
  	<div class="transferRequest_footer">
  		<div class="footer_Btn" ng-click="goBack()">取消</div>
  		<div class="footer_Btn Submit_Btn">提交</div>
  	</div>
</body>
</html>
