<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> transfer request </title>
	<link rel="stylesheet" href="././css/transferRequest.css">

	<style type="text/css">
		.transferRequest_bodyer {
			background-image: url(././images/bg_img.png);
		}
	</style>
</head>
<body>
	<div class="transferRequest_header">
		<div class="left_Box">
		</div>
  		<div class="center_Box">
	  		<div class="center_Title">{{tapIndex == '1' ? '转移申请':'报废申请'}}</div>
		</div>
		<div class="right_Box">
		</div>
	</div>
	<div class="transferRequest_bodyer">
	  	<div class="big_Type_Group">
	  		<div>
	  			<div class="small_Type_Group">
		  			<div class="small_Type_Title"> {{tapIndex == '1' ? '转出客户:':'客户选择:'}} </div>
					<div class="small_Type_Box" ng-click="openSelectPage('getCustomer');">
		  				<input class="small_Type_Input" placeHolder="地址/电话/客户编码" readonly="true" ng-model="getCustomerText"/>
		  			</div>
		  		</div>
		  		<div class="small_Type_Group" ng-show="tapIndex == '1'">
		  			<div class="small_Type_Title"> 转入客户: </div>
					<div class="small_Type_Box" ng-click="openSelectPage('outCustomer');">
		  				<input class="small_Type_Input" placeHolder="地址/电话/客户编码" readonly="true" ng-model="outCustomerText"/>
		  			</div>
		  		</div>
		  		<div class="small_Type_Group">
		  			<div class="small_Type_Title">{{tapIndex == '1' ? '转出车档号: ':'车档号选择: '}} </div>
					<div class="small_Type_Box" ng-click="openVehicleNumberPage();">
		  				<input class="small_Type_Input" placeHolder="车型/门架号/发动机号" readonly="true" ng-model="vehicleTypeText"/>
		  			</div>
		  		</div>
	  			<div class="small_Type_Group">
		  			<div class="small_Type_Title">{{tapIndex == '1' ? '转出备注:':'报废备注:'}}</div>
		  			<div class="small_Type_Box">
		  				<textarea class="small_Type_Textarea" ng-model="remarksText"></textarea>
		  			</div>
		  		</div>
	  		</div>
	  	</div>
  	</div>
  	<div class="transferRequest_footer">
  		<div class="footer_Btn" ng-click="goBack()">取消</div>
  		<div class="footer_Btn Submit_Btn" ng-click="draftSubmit()" ng-show="transfer.Status__c !== 'Submit'">保存</div>
  		<div class="footer_Btn Submit_Btn" ng-click="submit()" ng-show="transfer.Status__c  !== 'Submit'">保存并提交</div>
  	</div>
</body>
</html>
