<!-- HELP / MODAL VIEW-->
<ion-view hide-nav-bar="true">
    <div class="bar bar-header">
        <div class="h1 title" style="opacity: 1">{{::'cl.navigation.lb_help' | translate}}</div>
    </div>

    <ion-content class="has-header has-footer o-has-footer-action-button scroll-nopadding">


                    <div ng-repeat="(x, y) in vm.helpHintOutput" style="text-align:justify">
                        <div class="card" ng-if="x.indexOf('lb_') == 0">
                            <div class="item item-text-wrap">
                                <h2>{{vm.helpSectionPath + x | translate}}</h2>
                                <p>{{(vm.helpSectionPath + x.replace("lb_", "txt_") | translate) || '-'}}</p>

                                <!-- subsection -->
                                <div ng-if="vm.helpHintOutput[x.replace('lb_', 'sub_')]" ng-repeat="(subx, suby) in vm.helpHintOutput[x.replace('lb_', 'sub_')]" style="padding-top:10px;">
                                    <div ng-if="subx.indexOf('lb_') == 0">
                                     <h3>{{vm.helpSectionPath + x.replace('lb_', 'sub_') + '.' + subx | translate}}</h3>
                                     <p>{{(vm.helpSectionPath + x.replace('lb_', 'sub_') + '.' + subx.replace("lb_", "txt_") | translate) || '-'}}</p>
                                   </div>
                                </div>
                                <!-- subsection -->
                            </div>
                        </div>
                   </div>
        <br /> <!-- simple trick for show end of box before close button layer -->

                    <!-- div ng-repeat="(x, y) in vm.helpHintOutput" style="text-align:justify">
                        <h2 ng-if="x.indexOf('lb_') == 0">{{'cl.help.' + vm.helpSection + '.' + x | translate}}</h2>
                        <p ng-if="x.indexOf('txt_') == 0">{{'cl.help.' + vm.helpSection + '.' + x | translate}}<br /><br />></p>
                    </div -->


    </ion-content>

    <!-- CLOSE BUTTON - FOOTER BAR -->
    <div class="row bar bar-footer o-modal-save-button">
        <button ng-click="vm.closeHelpModal()" class="col col-100 o-action-button button button-clear button-stable" style="min-height:60px;">
            {{'cl.global.btn_close' | translate}}
        </button>
    </div>
</ion-view>