<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>repair2</title>
	<link rel="stylesheet" href="././css/repair2.css">

	<style type="text/css">
		.back_Btn {
			background-image: url(././img/images/back_icon.png);
		}
	</style>
</head>
<body>
	<div class="header">
		<div class="left_Box">
			<div class="back_Btn"></div>
		</div>
  		<div class="center_Box">
  			预约报修
		</div>
		<div class="right_Box">
		</div>
	</div>
	<div class="bodyer">
  	<div class="change_Btn_Group">
  		<div class="change_Btn red_Btn"></div>
  		<div class="change_Btn red_Btn"></div>
  	</div>
  	<table class="inf_Box" border="0" cellpadding="0" cellspacing="0">
  		<tbody>
        <tr>
          <td class="inf_Title"> 报价项目：</td>
          <td class="inf_Text"> 轮胎</td>
        </tr>
        <tr>
          <td class="inf_Title"> 产品描述：</td>
          <td class="inf_Text"> 型号：E16C-01-E20PH-01,轮胎鹏钉子，需要更换</td>
        </tr>
        <tr>
          <td class="inf_Title"> 上传图片：</td>
          <td class="inf_Text"> &nbsp;</td>
        </tr>
        <tr>
          <td colspan="2" class="inf_Img"> 
            <div class="add_Img_Group">
              <div class="add_Img_Simple flex_Left">
                <div class="add_Img_Box"></div>
              </div>
              <div class="add_Img_Simple flex_Center">
                <div class="add_Img_Box"></div>
              </div>
              <div class="add_Img_Simple flex_Right">
                <div class="add_Img_Box"></div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="inf_Title"> 预约时间：</td>
          <td class="inf_Text"> 2018-05-25（24小时内会与您电话确认）</td>
        </tr>
        <tr>
          <td class="inf_Title"> 联系方法：</td>
          <td class="inf_Text"> 13899999999</td>
        </tr>
      </tbody>
    </table>
	</div>
	<div class="footer">
		<div class="footer_Btn">上一步</div>
		<div class="footer_Btn footer_Act_Btn">预约</div>
	</div>
</body>
</html>