<!-- VIEW SIDE NAVIGATION -->
<style  type="text/css">
    .custom-openclose-btn .item {
        border: none;
        background: none;
        display: inline-block;
        width: 50%;
    }
    .custom-openclose-btn .toggle-small.item-toggle .toggle {
        top: 5px;
    }
    .custom-openclose-btn .toggle-small .track {
        background: #ffffff;
        border-color: white;
    }
    .custom-openclose-btn .toggle-small input:checked+.track {
        background-color: #ffffff;
    }
    .custom-openclose-btn .custom-openclose-btn .toggle-small input:checked+.track {
        background-color: #ffffff;
    }
    .custom-openclose-btn .toggle-small input:checked+.track .handle {
        background-color: #4bc076;
    }

</style>
<ion-side-menus enable-menu-with-back-views="true">

    <ion-side-menu-content drag-content="false">
        <!--<ion-nav-bar class="bar-stable nav-title-slide-ios7" title="oinio framework">-->
            <!--<ion-nav-back-button>-->
            <!--</ion-nav-back-button>-->
            <!--<ion-nav-buttons side="right">-->
                <!--<button menu-toggle="right" class="button button-icon icon ion-navicon"></button>-->
            <!--</ion-nav-buttons>-->
        <!--</ion-nav-bar>-->
        <ion-nav-view name="menuContent" animation="slide-right-left"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <div class="o-view-home">
            <div class="slds-grid slds-wrap o-wrap-device-connection">
                <!-- Show if device online or offline -->
                <div class="slds-size--1-of-1 o-device-connection" ng-class="vm.isMOnline === true ? 'is-online' : 'is-offline'">
                    <span ng-if="vm.isMOnline">{{'在线' | translate}}</span>
                    <span ng-if="!vm.isMOnline">{{'离线' | translate}}</span>
                </div>
            </div>
        </div>
        <ion-header-bar align-title="left" class="bar-positive slds-grid slds-wrap o-header-sidemenu">

            <!-- Logo in the left of top -->
            <div class="slds-size--1-of-1 slds-p-around--xxx-small slds-p-top--medium">
                <div class="slds-grid slds-wrap">

                    <div class="slds-size--6-of-12 slds-medium-size--6-of-12 slds-large-size--6-of-12 o-logo-lettering-header">
                        <img src="img/linde/linde-logo-lettering-transparent.png"/>
                    </div>
                    <!--<div class="slds-size&#45;&#45;6-of-12 slds-medium-size&#45;&#45;6-of-12 slds-large-size&#45;&#45;6-of-12 custom-openclose-btn">-->
                        <!--<ion-toggle ng-model="onoffline" ng-checked="onoffline" ng-change="changeOnOffLine();" ></ion-toggle>-->
                    <!--</div>-->
                </div>
            </div>

            <!-- Show which User is logged in -->
            <div class="slds-size--1-of-1 slds-p-horizontal--xxx-small slds-p-top--small o-username">
                <div class="slds-grid slds-wrap">

                    <object class="slds-size--1-of-12 o-item-linde-user"
                            data="img/linde/icons/svg/LG_Icon_Profile_BB_CMYK_RZ_104005_w.svg"
                            type="image/svg+xml"></object>

                    <p class="slds-size--11-of-12 slds-truncate" ng-if="vm.username">{{'cl.global.lb_welcome' | translate}}, {{vm.username}}!</p>
                </div>
            </div>
        </ion-header-bar>

        <!-- HEADER MENU END -->
        <ion-content class="has-header isw-menu-content">
            <ion-list>
                <ion-item menu-close ui-sref="app.home">
                    <i>
                        <object class="menu-item-icon" data="img/linde/icons/svg/LG_Icon_Home_CMYK_RZ.svg"
                                type="image/svg+xml" width="24"
                                height="24"></object>
                    </i>{{'cl.navigation.lb_home' | translate}}
                </ion-item>
                <!--<ion-item menu-close ng-click="vm.synchronize()">
                    <i>
                        <object class="menu-item-icon" data="img/linde/icons/svg/LG_Icon_Synchronize_CMYK_RZ.svg" type="image/svg+xml"
                                width="24"
                                height="24"></object>
                    </i>{{'cl.navigation.lb_synchronize' | translate}}
                </ion-item>
                -->
                <!--<ion-item menu-close ng-click="vm.newRefreshAllData()">-->
                    <!--<i>-->
                        <!--<object class="menu-item-icon" data="img/linde/icons/svg/LG_Icon_Synchronize_CMYK_RZ.svg" type="image/svg+xml"-->
                                <!--width="24"-->
                                <!--height="24"></object>-->
                    <!--</i>{{'cl.navigation.lb_synchronize' | translate}}-->
                <!--</ion-item>-->
                <!--<ion-item menu-close ng-click="vm.helpHint()" ng-if="vm.showHelpMenu">-->
                    <!--<i>-->
                        <!--<object class="menu-item-icon" data="img/linde/icons/svg/LG_Icon_Interrogant_CMYK_RZ.svg"-->
                                <!--type="image/svg+xml"-->
                                <!--width="24"-->
                                <!--height="24"></object>-->
                    <!--</i>-->
                    <!--{{'cl.navigation.lb_help' | translate}}-->
                <!--</ion-item>-->
                <!--<ion-item ng-if="vm.showMessageCenter" menu-close ui-sref="app.message-center">-->
                    <!--<i>-->
                        <!--<object class="ion-ios-cloud" data="img/linde/icons/svg/LG_Icon_Warning_CMYK_RZ.svg"-->
                                <!--type="image/svg+xml"-->
                                <!--width="24"-->
                                <!--height="24"></object>-->
                    <!--</i>-->
                    <!--{{'cl.navigation.lb_messageCenter' | translate}}-->
                <!--</ion-item>-->
                <!--<ion-item ng-if="vm.showMessageCenter" menu-close ng-click="vm.showInspector()">
                    <i class="ion-wrench"></i>{{'cl.navigation.lb_showInspector' | translate}}
                </ion-item>-->
                <ion-item menu-close ui-sref="app.user-setting">
                    <i>
                        <object class="menu-item-icon" data="img/linde/icons/svg/LG_Icon_Maintenance_CMYK_RZ.svg"
                                type="image/svg+xml"
                                width="24"
                                height="24"></object>
                    </i>
                    {{'cl.navigation.lb_userSettings' | translate}}
                </ion-item>
                <ion-item menu-close ng-click="vm.logout()">
                    <i>
                        <object class="menu-item-icon" data="img/linde/icons/svg/LG_Icon_Logout_CMYK_RZ_99333.svg"
                                type="image/svg+xml"
                                width="24"
                                height="24"></object>
                    </i>
                    {{'cl.navigation.lb_logout' | translate}}
                </ion-item>

                <ion-item menu-close ui-sref="app.more">
                    <i>
                        <object class="menu-item-icon" data="img/linde/icons/svg/LG_Icon_Profile_BB_CMYK_RZ_104005.svg"
                                type="image/svg+xml" width="24"
                                height="24"></object>
                    </i>{{'cl.navigation.lb_more' | translate}}
                </ion-item>
                <!--<ion-item ng-if="vm.showMessageCenter" menu-close ng-click="vm.logoutAndDrop()">
                    <i>
                        <object class="menu-item-icon" data="img/linde/icons/svg/LG_Icon_Logout_CMYK_RZ_99333.svg"
                                type="image/svg+xml"
                                width="24"
                                height="24"></object>
                    </i>
                    {{'cl.navigation.lb_logoutAndDropDatabase' | translate}}
                </ion-item>-->
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
