<div class="slds-form-element">
    <label ng-if="$ctrl.fieldlabel" class="slds-form-element__label" for="{{::$ctrl.fieldname}}">{{::$ctrl.fieldlabel | translate}}</label>
    <div class="slds-form-element__control">
        <input id="{{::$ctrl.fieldname}}"
               class="slds-input slds-form-element__addon"
               style="position: absolute; opacity: 0;"
               type="{{::$ctrl.fieldtype === 'datetime' ? 'datetime-local' : 'date'}}"
               ng-required="$ctrl.required"
               ng-model="$ctrl.selectedTime"
               ng-change="$ctrl.setDate()"/>

        <input type="text" value="{{$ctrl.formatedDate}}"/>

        <input type="hidden" ng-required="$ctrl.required" name="$ctrl.fieldname" ng-model="$ctrl.sfdcDate"/>
    </div>
</div>