body {
	margin: 0;
	font-size: 1rem;
    font-family: 微软雅黑, 华文黑体, sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    background-position: 50%;
    overflow: hidden;
}
img {
    cursor: pointer;
    vertical-align: middle;
}
.to_Open {
    display: block!important;
}
.to_Hide {
    display: none!important;
}
.calendar_header {
    background: #aa0020;
    /* width: 90%; */
    height: 64px;
    position: relative;
    padding: 0 5%;
    line-height: 64px;
}
.calendar_header .left_Box {
    display: inline-flex;
    width: 10%;
    vertical-align: middle;
}
.calendar_header .homeBack_Icon {
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 18px;    
}
.calendar_header .search_All {
    display: inline-block;
    width: 77%;
    position: relative;
    vertical-align: middle;
}
.calendar_header .search_All input.search_Input {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 0 10% 0 15%;
    font-size: 0.8rem;
    color: #D6D6D6;
    border: 1px solid #d6d6d6;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
}
.calendar_header .search_Photo_Icon {
    background-repeat: no-repeat;
    background-size: cover;
    width: 21px;
    height: 15px;
    position: absolute;
    top: calc(50% - 7.5px);
    left: 5%;
}
.calendar_header .right_Box {
    position: relative;
    display: inline-flex;
    width: 10%;
    vertical-align: middle;
}
.calendar_header .add_Icon_White {
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;    
    margin-left: auto;
}
.calendar_header .add_Arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    top: 19px;
    right: 25%;
    z-index: 999;
}
.calendar_header .add_Group {
    position: absolute;
    background: #ffffff;
    box-shadow: 0 1px 2px #aa0020;
    top: 39px;
    right: 0;
    display: inline-block;
    width: 130px;
    z-index: 999;
}
.calendar_header .add_Box {
    white-space: nowrap;
    color: #535353;
    padding: 8%;
    line-height: 1.2rem;
}
.calendar_bodyer {
    height: calc(100vh - 114px);
}
.calendar_bodyer .screen_Btn_Group {
    width: 100%;
    border: 0;
}
.calendar_bodyer .screen_Left {
    width: 50%;
}
.calendar_bodyer .screen_Right {
    width: 50%;
}
.calendar_bodyer .screen_Btn_Group select {
    width: 100%;
    height: 30px;
    border: 1px solid #979797;
    background: #ffffff;
}
.calendar_bodyer .fc-scroller.fc-day-grid-container {
    height: 192px!important;
}
.calendar_bodyer .fc-basicWeek-view .fc-scroller.fc-day-grid-container {
    height: 32px!important;
}

.calendar_bodyer .fc-toolbar.fc-header-toolbar {
    margin: 1% 0 0 0;
    background: #ffffff;
}
.calendar_bodyer .fc-month-view tr:first-child > td > .fc-day-grid-event {
    margin-top: -7px;
}
.calendar_bodyer .fc-basicWeek-view tr:first-child > td > .fc-day-grid-event {
    margin-top: 15px;
}
.calendar_bodyer .fc table {
    font-size: 0.8rem;
    background: transparent;
}
.calendar_bodyer .fc-icon-left-single-arrow:after {
    font-size: 100%;
}
.calendar_bodyer .fc-icon-right-single-arrow:after {
    font-size: 100%;
}
.calendar_bodyer .fc button {
    font-size: 0.8rem;
    border-radius: 0;
}
.calendar_bodyer .fc-toolbar h2 {
    font-size: 0.8rem;
}
.calendar_bodyer .big_Type_Group {
    height: calc(100% - 280px);
    overflow: auto;
}
.calendar_bodyer .big_Type_Group.changeHeight {
    height: calc(100% - 115px);
    overflow: auto;
}
.calendar_bodyer .small_Type_Table {
    width: 100%;
    margin: 1% 0;
    padding:0px;
    background: #ffffff;
    border: 1px solid #979797;
}
.calendar_bodyer .small_Type_Table td {
    color: #535353;
    font-size: 0.8rem;
}
.calendar_bodyer .table_Left {
    white-space: nowrap;
    width: 25%;
    padding-left: 5%;
    vertical-align: top;
}
.calendar_bodyer .table_Center {
    width: calc(75% - 40px);
    white-space: normal;
    vertical-align: top;
}
.calendar_bodyer .table_Right {
    width: 40px;
    height: 40px;
    background-color: #535353;
    vertical-align: middle;
}
.calendar_bodyer .table_Img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    margin: 0 auto;
}
.calendar_bodyer .small_Type_Table td.state_Color {
    color: #aa0020;
}
