body {
	margin: 0;
	font-size: 1rem;
    font-family: 微软雅黑, 华文黑体, sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    background-position: 50%;
    overflow: hidden;
}
img {
    cursor: pointer;
    vertical-align: middle;
}
.to_Open {
    display: block;
}
.to_Hide {
    display: none;
}
/* head */
.deliveryList_header {
    background: #aa0020;
    /*width: 90%;*/
    height: 64px;
    position: relative;
    padding: 0 5%;
    line-height: 64px;
}
.back_Icon {
    background-repeat: no-repeat;
    background-size: cover;
    width: 14px;
    height: 24px;
}
.deliveryList_header .left_Box {
    display: inline-flex;
    width: 10%;
    vertical-align: middle;
}
.deliveryList_header .center_Box {
    display: inline-block;
    width: 77%;
    position: relative;
    vertical-align: middle;
}
.deliveryList_header .center_Title {
    text-align: center;
    color: #ffffff;
}
.deliveryList_header .right_Box {
    position: relative;
    display: inline-flex;
    width: 10%;
    vertical-align: middle;
}
/* body */
.deliveryList_bodyer {
    overflow-y: auto;
    height: calc(100vh - 64px);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.deliveryList_bodyer .big_Type_Group {
    margin-bottom: 5%;
}
.deliveryList_bodyer .small_Type_Title_Group {
    background: #535353;
    padding: 2% 0;
    display: flex;
    align-items: center;
}
.deliveryList_bodyer .small_Type_Title_G {
    color: #ffffff;
    padding: 0 5%;
    display: flex;
    width: calc(100% - 18px);
}
.deliveryList_bodyer .OpenClose_Btn {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-flex;
    width: 18px;
    height: 10px;
    margin-right: 5%;
}
.deliveryList_bodyer .small_Type_Group {
    margin: 2% 5%;
}
.deliveryList_bodyer .small_Type_Title {
    color: #535353;
    font-size: 0.8rem;
    margin-bottom: 2%;
}
.deliveryList_bodyer .small_Type_Box {
    position: relative;
}
.deliveryList_bodyer .small_Type_Input {
    color: #535353;
    background: transparent;
    width: 85%;
    height: 30px;
    border-bottom: 1px solid #535353;
    border-top: 0;
    border-left: 0;
    border-right: 0;
   padding: 0 10% 0 5%;
    font-size: 1rem;
}
.deliveryList_bodyer .search_small_black {
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
    position: absolute;
    top: calc(50% - 8px);
    right: 0;
}
.deliveryList_bodyer .small_Type_Select {
    color: #535353;
    width: 100%;
    height: 40px;
    padding: 0 5%;
    font-size: 1rem;
}
.deliveryList_bodyer .small_Type_Textarea {
    resize: none;
    width: 89%;
    border: 1px solid #535353;
    font-size: 1rem;
    height: 60px;
    padding: 5%;
}
.draftList_Table {
    border-collapse: collapse;
    width: 90%;
    margin: 2% 5%;
}
.draftList_Table td {
    font-size: 0.6rem;
    color: #535353;
    border-bottom: 1px solid #535353;
    padding: 2% 1%;
}
.draftList_Table td.priceList_Td_Right {
    text-align: right;
}
.draftList_Table td.width_1 {
    width: 20%;
}
.draftList_Table td.width_2 {
    width: 40%;
}
.draftList_Table td.width_3 {
    width: 40%;
}
.draftList_Table td.stateColor {
    color: #f85360;
}
.draftList_Table td.textDecoration {
    text-decoration: underline;
}
.draftList_Table .draftList_Checkbox {
    height: 25px;
    width: 25px;
    margin: 0;
}
.draftList_Btn {
    background: #aa0020;
    color: #ffffff;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin: 2% 0;
}
.deliveryList_Table {
    border-collapse: collapse;
    width: 90%;
    margin: 2% 5%;
}
.deliveryList_Table td {
    font-size: 0.6rem;
    color: #535353;
    border-bottom: 1px solid #535353;
    padding: 2% 1%;
}
.deliveryList_Table td.deliveryList_Td_Right {
    text-align: right;
}
.deliveryList_Table td.width_1 {
    width: 40%;
}
.deliveryList_Table td.width_2 {
    width: 40%;
}
.deliveryList_Table td.width_3 {
    width: 20%;
}
.deliveryList_Table td.stateColor {
    color: #f85360;
}
.deliveryList_Table td.textDecoration {
    text-decoration: underline;
}
.deliveryList_Table .explain_Icon {
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
    margin: 0 auto;
}
.deliveryList_Table .explain_Text {
    position: absolute;
    padding: 10%;
    right: 30%;
    z-index: 10;
    background: #ffffff;
    box-shadow: 0 1px 2px #676767;
    border: 1px solid #008caa;
    text-align: left;
    top: 100%;
    width: 50vw;
}
.deliveryList_Table .explain_Text .dis_flex {
    display: flex;
    width: 100%;
}
.deliveryList_Table .explain_Text .dis_flex span {
    display: inline-flex;
    width: 50%;
    font-size: 0.8rem;
    margin: 0 2px;
    color: #535353;
}
.deliveryList_Table .explain_Text .dis_flex span.red_span {
    color: #aa0020;
    justify-content: flex-end;
}
.deliveryList_Table .cus_display {
    display: inline-block;
    vertical-align: middle;
}
.deliveryList_bodyer .list {
    padding: 0;
}
.deliveryList_bodyer .item {
    padding: 0;
    width: 100%;
    overflow: inherit;
    border: 0;
    background: none;
    color: inherit;
    font-size: inherit;
    margin: 0;
}
