body {
	margin: 0;
	font-size: 1rem;
    font-family: 微软雅黑, 华文黑体, sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    background-position: 50%;
    overflow: hidden;
}
img {
    cursor: pointer;
    vertical-align: middle;
}
.to_Open {
    display: block!important;
}
.to_Hide {
    display: none!important;
}
.group_header {
    background: #aa0020;
    /*width: 90%;*/
    height: 64px;
    position: relative;
    padding: 0 5%;
    line-height: 64px;
}
.group_header .left_Box {
    display: inline-flex;
    width: 10%;
    vertical-align: middle;
}
.group_header .search_All {
    display: inline-block;
    width: 77%;
    position: relative;
    vertical-align: middle;
}
.group_header .search_Input {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 1% 10% 1% 15%;
    font-size: 1rem;
    color: #D6D6D6;
    border: 1px solid #d6d6d6;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
}
.group_header .search_Photo_Icon {
    background-repeat: no-repeat;
    background-size: cover;
    width: 21px;
    height: 15px;
    position: absolute;
    top: calc(50% - 7.5px);
    left: 5%;
}
.group_header .right_Box {
    position: relative;
    display: inline-flex;
    width: 10%;
    vertical-align: middle;
}
.group_header .add_Icon_White {
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;    
    margin-left: auto;
}
.group_header .add_Arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    top: 19px;
    right: 25%;
}
.group_header .add_Group {
    position: absolute;
    background: #ffffff;
    box-shadow: 0 1px 2px #aa0020;
    top: 39px;
    right: 0;
    display: inline-block;
    width: 130px;
}
.group_header .add_Box {
    white-space: nowrap;
    color: #535353;
    padding: 8%;
    line-height: 1.2rem;
}
.group_bodyer {
    overflow-y: auto;
    height: calc(100vh - 114px);
}
.group_Img {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: calc(100vh - 114px);
}