body {
	margin: 0;
	font-size: 1rem;
    font-family: 微软雅黑, 华文黑体, sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    background-position: 50%;
    overflow: hidden;
}
img {
    cursor: pointer;
    vertical-align: middle;
}
.to_Open {
    display: block;
}
.to_Hide {
    display: none;
}
.header {
    background: #aa0020;
    /*width: 90%;*/
    height: 96px;
    position: relative;
    padding: 0 5%;
    line-height: 96px;
}
.left_Box {
    display: inline-flex;
    width: 10%;
    vertical-align: middle;
}
.search_All {
    display: inline-block;
    width: 77%;
    position: relative;
    vertical-align: middle;
}
.search_Input {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 1% 10% 1% 15%;
    font-size: 1rem;
    color: #D6D6D6;
    border: 1px solid #d6d6d6;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
}
.search_Photo_Icon {
    background-repeat: no-repeat;
    background-size: cover;
    width: 21px;
    height: 15px;
    position: absolute;
    top: calc(50% - 7.5px);
    left: 5%;
}
.right_Box {
    position: relative;
    display: inline-flex;
    width: 10%;
    vertical-align: middle;
}
.add_Icon_White {
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;    
    margin-left: auto;
}
.add_Arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    top: 19px;
    right: 25%;
}
.add_Group {
    position: absolute;
    background: #ffffff;
    box-shadow: 0 1px 2px #aa0020;
    top: 39px;
    right: 0;
    display: inline-block;
    width: 130px;
}
.add_Box {
    white-space: nowrap;
    color: #535353;
    padding: 8%;
    line-height: 1.2rem;
}
/*.bodyer {*/
    /*overflow-y: auto;*/
    /*height: calc(100vh - 148px);*/
/*}*/
.big_Type_Group {
    margin: 5%;
}

.small_Type_Group {
    margin-bottom: 2%;
}
.small_Type_Title {
    color: #aa0020;
    font-weight: bold;
    border-bottom: 1px solid #aa0020;
    padding-bottom: 2%;
}
.small_Type_Box {
    color: #ffffff;
    font-size: 0.8rem;
    border: 1px solid #979797;
    background: #aa0020;
    display: inline-flex;
    width: 30%;
    height: 60px;
    justify-content: center;
    align-items: center;
    margin: 2% 4% 2% 0;
    border-radius: 5%;
}
.small_Type_Box:last-child {
    margin-right: 0;
}
.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    margin: 0;
    width: 100%;
    display: flex;
    border-top: 1px solid #535353;
}
.footer_Btn {
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 1rem;
    color: #535353;
    background: #ffffff;
    display: inline-flex;
    width: calc(100% / 4);
    justify-content: center;
}
.footer_Btn.footer_Act_Btn {
    color: #ffffff;
    background: #aa0020;
}
.volume_Group {
    position: absolute;
    top: -26px;
    width: 52px;
    height: 52px;
    border: 1px solid #aa0020;
    border-radius: 26px;
    left: calc(50% - 26px);
    background: #ffffff;
}
.volume_Icon {
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 25px;
    position: absolute;
    top: calc(50% - 12.5px);
    left: calc(50% - 8px);
}