body {
    margin: 0;
    font-size: 1rem;
    font-family: 微软雅黑, 华文黑体, sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    background-position: 50%;
    overflow: hidden;
}
img {
    cursor: pointer;
    vertical-align: middle;
}
.to_Open {
    display: block;
}
.to_Hide {
    display: none;
}
.header {
    background: #aa0020;
    width: 100%;
    height: 64px;
    position: relative;
    padding-left:  5%;
    padding-right:  5%;
    line-height: 64px;
    display: flex;
}
.header2 {
    background: #aa0020;
    /* width: 90%; */
    height: 64px;
    position: relative;
    padding: 0 5%;
    line-height: 64px;
    display: flex;

}
.left_Box {
    display: inline-flex;
    width: 10%;
    align-items: center;
}
.back_Icon {
    background-repeat: no-repeat;
    background-size: cover;
    width: 14px;
    height: 24px;
}
.search_All {
    display: inline-flex;
    width: 75%;
    position: relative;
    align-items: center;
}
.search_right_Group {
    display: inline-flex;
    width: 15%;
    color: #ffffff;
    align-items: center;
}
.search_All input.search_Input {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 0 10% 0 15%;
    font-size: 0.8rem;
    color: #D6D6D6;
    border: 1px solid #d6d6d6;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
}
.search_Photo_Icon {
    background-repeat: no-repeat;
    background-size: cover;
    width: 21px;
    height: 15px;
    position: absolute;
    top: calc(50% - 7.5px);
    left: 5%;
}
.text_Cancel {
    line-height: initial;
    text-align: right;
}
.center_Box {
    display: inline-block;
    width: 77%;
    position: relative;
    vertical-align: middle;
}
.center_Title {
    text-align: center;
    color: #ffffff;
}
.right_Box {
    position: relative;
    display: inline-flex;
    width: 10%;
    vertical-align: middle;
}
.add_Icon_White {
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-left: auto;
}
.bodyer {
    overflow-y: auto;
    height: calc(100vh - 148px);
}
.bodyer_nofooter{
    overflow-y: auto;
    height: calc(100vh - 96px);
}
.newwork_big_Type_Group {
    margin: 7%;
}
.small_Type_Group {
    margin-bottom: 5%;
}
.small_Type_Title {
    color: #979797;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 2%;
}
.small_Type_Box {

}
.small_Type_Input {
    color: #535353;
    width: 100%;
    height: 20px;
    border-bottom: 1px solid #535353;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 0 5%;
    font-size: 1rem;
}
.small_Type_Select {
    color: #535353;
    width: 100%;
    height: 40px;
    padding: 0 5%;
    font-size: 1rem;
}
.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    margin: 0;
    width: 100%;
    display: flex;
    border-top: 1px solid #535353;
}
.footer_Btn {
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 1rem;
    color: #535353;
    background: #ffffff;
    display: inline-flex;
    width: calc(100% / 2);
    justify-content: center;
}
.footer_Btn.Save_Btn_Act {
    color: #ffffff;
    background: #aa0020;
}
.footer_Btn.Save_Btn_Uact {
    color: #ffffff;
    background: #979797;
}
.volume_Icon {
    background-image: url(./images/volume_icon.png);
}
.add_Icon_White {
    background-image: url(./images/add_icon_white.png);
}

.small_Box_Title {
    color: #aa0020;
    font-weight: bold;
    border-bottom: 1px solid #aa0020;
    padding-bottom: 2%;
    margin: 0 5%;
}
.search_Photo_Icon {
    background-image: url(./img/images/search-photo_icon.png);
}
.back_Icon {
    background-image: url(././img/images/back_icon.png);
}
.search_bodyer {
    background-image: url(././img/images/bg_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
    height: calc(100vh - 64px);

}
.search_bodyer .big_Box_Group {
    margin: 5% 0;
}
.search_bodyer .small_Box_Title {
    color: #aa0020;
    font-weight: bold;
    border-bottom: 1px solid #aa0020;
    padding-bottom: 2%;
    margin: 0 5%;
}