body {
	margin: 0;
	font-size: 1rem;
    font-family: 微软雅黑, 华文黑体, sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    background-position: 50%;
    overflow: hidden;
}
img {
    cursor: pointer;
    vertical-align: middle;
}
.to_Open {
    display: block!important;
}
.to_Hide {
    display: none!important;
}
.header {
    background: #aa0020;
    width: 100%;
    height: 64px;
    position: relative;
    padding: 0;
    line-height: 64px;
    display: flex;
}
.left_Box {
    position: relative;
    display: inline-flex;
    width: 64px;
    align-items: center;
    height: 64px;
    line-height: 64px;
    justify-content: center;
}
.center_Box {
    display: inline-flex;
    width: calc(90% - 64px);
    position: relative;
    justify-content: center;
    align-items: center;
}
.center_Title {
    text-align: center;
    color: #ffffff;
}
.right_Box {
    display: inline-flex;
    width: 10%;
    justify-content: center;
    align-items: center;
}
.search_white {
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;    
    margin: 0 auto;
}
.bodyer {
    overflow-y: auto;
    height: calc(100vh - 116px);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.search_Group {
    position: absolute;
    top: 0;
    width: 100%;
    background: #f85360;
    padding: 2% 5%;
    z-index: 999;
    box-shadow: 0 2px 3px #979797;
}
.search_Type_Title {
    font-size: 0.8rem;
    color: #ffffff;
    margin-bottom: 2%;
}
.search_Type_Box {
    position: relative;
    margin-bottom: 5%;
    display: flex;
}
.search_Type_Input {
    color: #535353;
    background: #ffffff;
    width: 100%;
    height: 30px;
    border: 1px solid #979797;
    padding: 0 10% 0 5%;
    font-size: 0.8rem;
}
.search_type_black {
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;  
    position: absolute;
    top: calc(50% - 8px);
    right: 2%;
}
.search_Btn {
    background: #535353;
    color: #ffffff;
    height: 30px;
    border: 1px solid #979797;
    line-height: 30px;
    text-align: center;
    margin-bottom: 2%;
}
.search_Btn.no_search_Style {
    background: #d8d8d8;
}

.big_Type_Group {
    margin-bottom: 5%;
}
.small_Type_Title_Group {
    background: #535353;
    padding: 2% 0;
    display: flex;
    align-items: center;
    position: relative;
}
.refresh_icon {
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;  
    position: absolute;
    top: calc(50% - 10px);
}
.small_Type_Title_G {
    color: #ffffff;
    padding: 0 5%;
    display: flex;
    width: calc(100% - 18px);
}
.OpenClose_Btn {
    background-repeat: no-repeat;
    background-size: cover; 
    display: inline-flex;
    margin-right: 5%;
}
.arrow_Down_White {
    width: 18px;
    height: 10px;
}
.arrow_Left_White {
    width: 10px;
    height: 18px;   
}
.small_Type_Group {
    margin: 2% 5%;
}
.small_Type_Title {
    color: #535353;
    font-size: 0.8rem;
    margin-bottom: 2%;
}
.small_Type_Box {
    position: relative;
}
.small_Type_Input {
    color: #535353;
    background: transparent;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #535353;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 0 10% 0 5%;
    font-size: 1rem;
    text-align: left;
}
.search_small_black {
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;  
    position: absolute;
    top: calc(50% - 8px);
    right: 0;
}
.small_Type_Select {
    color: #535353;
    width: 100%;
    height: 40px;
    padding: 0 5%;
    font-size: 1rem;
}
.small_Type_Textarea {
    resize: none;
    width: 100%;
    border: 1px solid #535353;
    font-size: 1rem;
    height: 60px;
    padding: 5%;
}
.addDelCar_Div {
    display: flex;
    width: 100vw;
    position: relative;
    margin-bottom: 5%;  
    height: 65px;
}
.oc_Line_Up {
    position: absolute;
    width: 100%;
    border: 2px solid #f85360;
    top: 81px;
}
.oc_Line_Down {
    position: absolute;
    width: 100%;
    border: 2px solid #f85360;
    bottom: -5px;
}
.oc_up_icon {
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;  
    position: absolute;
    top: 73px;
    left: 0;
}
.oc_down_icon {
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;  
    position: absolute;
    bottom: -12px;
    left: 0;
}
.addDelCar_Div_Left {
    width: 20%;
    display: inline-flex;
}
.addDelCar_Div_Right {
    width: 80%;
    display: inline-flex;
    overflow-x: auto;
    overflow-y: hidden;
}
.ad_Left_Table {
    border-collapse: collapse;
    width: 100%;
}
.ad_Right_Table {
    border-collapse: collapse;
    width: calc(100vw * 0.4);
}
.ad_Right_Table .td_Hide {
    display: none;  
}
.ad_Left_Td {
    border: 1px solid #979797;
    background: #d8d8d8;
    padding: 0 1%;
    font-size: 0.8rem;
    height: 40px;
    text-align: center;
    vertical-align: middle;
}
.ad_Right_Table_Group {
    width: 100%;
}
.ad_Right_Td_Group {
    vertical-align: middle;
    text-align: center;
}
.ad_Right_Td {
    border: 1px solid #979797;
    background: #eee9e9;
    padding: 0 1%;
    font-size: 0.8rem;
    height: 40px;
    vertical-align: middle;
    text-align: center;
}
.ad_Right_Table.bgWhite .ad_Right_Td {
    background: #ffffff;
}
.pos_rel {
    position: relative;
}
.left_Box_Arrorw {
    display: inline-flex;
    width: 10%;
    vertical-align: middle;
}
.ad_Right_Table .del_red_icon {
    position: absolute;
    right: 1%;
    top: calc(50% - 8px);
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px; 
}
.ad_Input {
    height: 28px;
    border: 1px solid #979797;  
    width: 98%;
}
.ad_Input.input_confirm {
    width: 80%;
}
.input_uc_Group {
    height: 32px;
    background: #f85360;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
}
.service_Table .sv_Td div.input_uc_Group {
    position: absolute;
    right: 3%;
    top: calc(50% - 14px);
    height: 32px;
    background: #f85360;
    width: 20px;
}
.service_Table .sv_Td div.input_c_Group {
    position: absolute;
    right: 3%;
    top: calc(50% - 14px);
    height: 28px;
    background: #f85360;
    width: 20px;
}
.service_Table .sv_Td div.input_confirm_icon {
    background-repeat: no-repeat;
    background-size: cover;
    width: 14px;
    height: 14px; 
    margin: 8px 3px;
}
.service_Group {
    overflow-x: auto;
    overflow-y: hidden;
}
.service_list .list {
    padding: 0;
}
.service_item.item {
    padding: 0;
    width: 100%;
    overflow: inherit;
    border: 0;
    background: none;
    color: inherit;
    font-size: inherit;
    margin: 0;
}
.service_Table {
    border-collapse: collapse;
    width: 158vw;
}
.service_Table .sv_Td div, .service_Table_bodyer .sv_Td div {
    width: 100%;
}
.service_Table_bodyer {
    border-collapse: collapse;
    width: 158vw;
}
.service_Table th.sv_Td {
    background: #d8d8d8;
    height: 40px;
}
.service_Table .sv_Td, .service_Table_bodyer .sv_Td  {
    width: 27vw;
    border: 1px solid #979797;
    background: #eee9e9;
    padding: 0 1%;
    font-size: 0.8rem;
    height: 60px;
    text-align: center;
    vertical-align: middle;
}
.service_Table .sv_Td div, .service_Table .sv_Td select, .service_Table .sv_Td input,
.service_Table_bodyer .sv_Td div, .service_Table_bodyer .sv_Td select, .service_Table_bodyer .sv_Td input {
    width: calc(27vw - 10px);
    text-overflow: ellipsis;
    overflow: hidden;
}
.service_Table .sv_Td .sv_Input, .service_Table_bodyer .sv_Td .sv_Input {
    height: 48px;
    border: 1px solid #979797;
    background: #ffffff;
}
.service_Table .sv_Td select, .service_Table_bodyer .sv_Td select {
    height: 48px;
    border: 1px solid #979797;
    background: #ffffff;
}
.service_Table .sv_Td div.del_red_icon, .service_Table_bodyer .sv_Td div.del_red_icon {
    position: absolute;
    left: 0;
    top: calc(50% - 8px);
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px; 
}
.adddel_Group {
    width: 100%;
    background: #ffffff;
    height: 40px;
    display: flex;
}
.adddel_Group .btn_AddDel {
    background: #f85360;
    width: 100%;
    display: inline-flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}
.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    margin: 0;
    width: 100%;
    display: flex;
    border-top: 1px solid #535353;
}
.footer_Btn {
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 1rem;
    color: #535353;
    background: #ffffff;
    display: inline-flex;
    width: calc(100% / 2);
    justify-content: center;
}
.footer_Btn.Save_Btn_Act {
    color: #ffffff;
    background: #aa0020;
}
.footer_Btn.Save_Btn_Uact {
    color: #ffffff;
    background: #979797;
}
.footer_Btn.Submit_Btn_Act {
    color: #ffffff;
    background: #535353;
}
.footer_Btn.Submit_Btn_Uact {
    color: #ffffff;
    background: #979797;
}
.add_del_bodyer {
    overflow-y: auto;
    width: 100%;
}

.small_Box_Text_1.item {
    padding: 0;
    width: 100%;
    overflow: inherit;
    border: 0;
    background: none;
    color: inherit;
    font-size: inherit;
    margin: 0;
}
.searchs_Table {
    width: 172vw;
}

.searchs_Table th,
.searchs_Table td {
    width: 27vw;
    padding: 0 1%;
    font-size: 0.8rem;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #979797;
}

.searchs_Table th {
    background: #d8d8d8;
}

.searchs_Table td {
    background: #eee9e9;
}

.searchs_Table th div {
    width: calc(27vw - 10px);
}

.searchs_Table th input {
    width: 10vw;
}

.searchs_Table td input {
    width: 10vw;
}

.searchs_Table td div {
    width: calc(27vw - 10px);
}