body {
	margin: 0;
	font-size: 1rem;
    font-family: 微软雅黑, 华文黑体, sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    background-position: 50%;
    overflow: hidden;
}
img {
    cursor: pointer;
    vertical-align: middle;
}
.to_Open {
    display: block!important;
}
.to_Hide {
    display: none!important;
}
.header {
    background: #aa0020;
    width: 90%;
    height: 120px;
    position: relative;
    padding: 0 5%;
    line-height: 120px;
    display: flex;
}
.left_Box {
    display: inline-flex;
    width: 20%;
    align-items: center;
}
.center_Box {
    display: inline-flex;
    align-items: center;
    width: 60%;
    text-align: center;
    color: #ffffff;
}
.right_Box {
    display: inline-flex;
    color: #ffffff;
    width: 20%;
    align-items: center;
}
.back_Btn {
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 25px;
}
.bodyer {
    overflow-y: auto;
    height: calc(100vh - 170px);
}
.change_Btn_Group {
    text-align: center;
    margin: 2% 5%;
}
.change_Btn {
    border: 2px solid #d8d8d8;
    margin: 0 2%;
    width: calc(100% / 3);
    display: inline-block;
    vertical-align: middle; 
}
.change_Btn.red_Btn {
    border: 2px solid #aa0020;
}
.inf_Box {
    width: 100%;
    border-collapse: collapse;
    background: #f3f5f6;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
}
.inf_Title {
    width: 30%;
    padding: 2% 1% 2% 5%;
    vertical-align: top;
}
.inf_Text {
    width: 70%;
    padding: 2% 5% 2% 0;
    vertical-align: top;
}
.inf_Img {
    width: 100%;
    padding: 2% 5% 2% 5%;
}
.add_Img_Group {
    width: 100%;
    display: flex;
}
.add_Img_Simple {
    display: inline-flex;
    width: calc(100% / 3);
}
.add_Img_Box {
    width: 80px;
    height: 80px;
    border: 1px solid #979797;
}
.flex_Left {
    justify-content: flex-start;
}
.flex_Center {
    justify-content: center;
}
.flex_Right {
    justify-content: flex-end;
}
.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    margin: 0;
    width: 100%;
    display: flex;
    border-top: 1px solid #535353;
}
.footer_Btn {
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 1rem;
    color: #535353;
    background: #ffffff;
    display: inline-flex;
    width: calc(100% / 2);
    justify-content: center;
}
.footer_Btn.footer_Act_Btn {
    color: #ffffff;
    background: #aa0020;
}