body {
    margin: 0;
    font-size: 1rem;
    font-family: 微软雅黑, 华文黑体, sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    background-position: 50%;
    overflow: hidden;
}
img {
    cursor: pointer;
    vertical-align: middle;
}
.to_Open {
    display: block;
}
.to_Hide {
    display: none;
}
/* head */
.workListDetails_header {
    background: #aa0020;
    width: 100%;
    height: 64px;
    position: relative;
    padding: 0 5%;
    line-height: 64px;
    display: flex;
}
.workListDetails_header .left_Box {
    display: inline-flex;
    width: 10%;
    align-items: center;
}
.workListDetails_header .center_Box {
    display: inline-flex;
    width: 80%;
    position: relative;
    align-items: center;
    justify-content: center;
}
.workListDetails_header .center_Title {
    text-align: center;
    color: #ffffff;
}
.workListDetails_header .right_Box {
    position: relative;
    display: inline-flex;
    width: 10%;
    align-items: center;
}
.workListDetails_header .add_Icon_White {
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-left: auto;
}
.workListDetails_header .add_Arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
    top: 19px;
    right: 25%;
}
.workListDetails_header .add_Group {
    position: absolute;
    background: #ffffff;
    box-shadow: 0 1px 2px #aa0020;
    top: 39px;
    right: 0;
    display: inline-block;
    width: 130px;
}
.workListDetails_header .add_Box {
    white-space: nowrap;
    color: #535353;
    padding: 8%;
    line-height: 1.2rem;
}

/* body */
.workListDetails_bodyer .list {
    padding: 0;
}
.workListDetails_bodyer .item {
    padding: 0;
    width: 100%;
    overflow: inherit;
    border: 0;
    background: none;
    color: inherit;
    font-size: inherit;
    margin: 0;
}

.workListDetails_bodyer {
    overflow-y: auto;
    height: calc(100vh - 120px);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.workListDetails_bodyer .big_Type_Group {
    margin-bottom: 5%;
}
.workListDetails_bodyer .OpenClose_Btn.arrow_Left_White {
    width: 10px;
    height: 18px;
}
.workListDetails_bodyer .displayQuantity {
    padding: 2% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #979797;
    color: #ffffff;
}
.workListDetails_bodyer .displayQuantity.click_bgchange_style {
    background: #f85360;
}
.workListDetails_bodyer .describ_Inf_Div {
    position: absolute;
    width: 100%;
    background: #f85360;
    top: 32px;
    text-align: center;
    z-index: 999;
    box-shadow: 0 3px 3px #292929;
}
.workListDetails_bodyer .des_Inf_Head {
    width: 100%;
    display: flex;
    padding: 0 5%;
    border-bottom: 1px solid #ffffff;
}
.workListDetails_bodyer .des_Inf_Body {
    width: 100%;
    display: flex;
    padding: 0 5%;
    border-bottom: 1px solid #ffffff;
}
.workListDetails_bodyer .des_Inf_Left {
    width: 10%;
    display: inline-flex;
    height: 30px;
    align-items: center;
}
.workListDetails_bodyer .des_Inf_Left input {
    width: 25px;
    height: 25px;
    margin: 0;
}
.workListDetails_bodyer .des_Inf_Center {
    width: 40%;
    display: inline-flex;
    align-items: center;
    height: 30px;
}
.workListDetails_bodyer .des_Inf_Center div {
    font-size: 0.8rem;
}
.workListDetails_bodyer .des_Inf_Right {
    width: 39%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    height: 30px;
}
.workListDetails_bodyer .des_Inf_Right div {
    font-size: 0.8rem;
}
.workListDetails_bodyer .des_Inf_Right input {
    font-size: 0.8rem;
    width: 50%;
    text-align: right;
    padding: 0 5%;
    height: 20px;
}
.workListDetails_bodyer .des_Inf_Btn_Group {
    text-align: center;
    margin: 0;
    width: 100%;
    display: flex;
}
.workListDetails_bodyer .des_Left_Btn {
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 0.8rem;
    color: #ffffff;
    background: #aa0020;
    display: inline-flex;
    width: calc(100% / 2);
    justify-content: center;
}
.workListDetails_bodyer .des_Right_Btn {
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 0.8rem;
    color: #ffffff;
    background: #000000;
    display: inline-flex;
    width: calc(100% / 2);
    justify-content: center;
}
.workListDetails_bodyer .arrow_quantity_icon {
    background-repeat: no-repeat;
    background-size: cover; 
    display: inline-flex;
    width: 10px;
    height: 12px;
}
.workListDetails_bodyer .displayQuantity_text {
    font-size: 0.8rem;
    margin: 0 2%;
}
.workListDetails_bodyer .small_Type_Title_Group {
    background: #535353;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
.workListDetails_bodyer .small_Type_Title_G {
    color: #ffffff;
    padding: 0 5%;
    display: flex;
    width: calc(100% - 18px);
}
.workListDetails_bodyer .small_Type_Title_G_2 {
    color: #ffffff;
    padding: 0 5%;
    display: flex;
    width: calc(100% - 128px);
}
.workListDetails_bodyer .OpenClose_Btn {
    background-repeat: no-repeat;
    background-size: cover; 
    display: inline-flex;
    width: 18px;
    height: 10px;
    margin-right: 5%;
}
.workListDetails_bodyer .small_Type_Group {
    margin: 2% 5%;
}
.workListDetails_bodyer .small_Type_Title {
    color: #535353;
    font-size: 0.8rem;
    margin-bottom: 2%;
}
.workListDetails_bodyer .small_Type_Box {
    position: relative;
}

.workListDetails_bodyer .btn_I {
    display: inline-flex;
    height: 40px;
    align-items: center;
}
.workListDetails_bodyer .btn_I.click_Style {
    background: #f85360;
}
.workListDetails_bodyer .btn_M {
    display: inline-flex;
    height: 40px;
    align-items: center;
    margin-right: 10px;
}
.workListDetails_bodyer .btn_M.click_Style {
    background: #f85360;
}
.workListDetails_bodyer .btn_Import_Group {
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 26px;
    margin: 0 10px;
}
.workListDetails_bodyer .btn_modify_Group {
    background-repeat: no-repeat;
    background-size: cover;
    width: 26px;
    height: 25px;
    margin: 0 10px;
}
.workListDetails_bodyer .btn_Import_Div {
    position: absolute;
    width: 100%;
    background: #f85360;
    top: 40px;
    text-align: center;
    z-index: 999;
    box-shadow: 0 2px 4px #676767;
}
.workListDetails_bodyer .Import_Btn {
    color: #ffffff;
    font-size: 1rem;
    padding: 3% 0;
    border-bottom: 1px solid #ffffff;
}
.workListDetails_bodyer .btn_modify_Div {
    position: absolute;
    width: 100%;
    background: #f85360;
    top: 40px;
    text-align: center;
    z-index: 999;
    box-shadow: 0 2px 4px #676767;
}
.workListDetails_bodyer .btn_refund_Div {
    position: absolute;
    width: 100%;
    background: #f85360;
    top: 40px;
    text-align: center;
    z-index: 999;
    box-shadow: 0 2px 4px #676767;
}
.workListDetails_bodyer .Modify_Btn {
    color: #ffffff;
    font-size: 1rem;
    padding: 3% 0;
    border-bottom: 1px solid #ffffff;
}
.workListDetails_bodyer .Refund_Btn {
    color: #ffffff;
    font-size: 1rem;
    padding: 3% 0;
    border-bottom: 1px solid #ffffff;
}
.workListDetails_bodyer .legend_Group {
    display: flex;
    background: #ffffff;
    justify-content: center;
    align-items: center;
}
.workListDetails_bodyer .legend_Group div {
    display: inline-flex;
    font-size: 0.8rem;
    margin: 1% 2%;
}
.workListDetails_bodyer .blue_legend {
    width: 10px;
    height: 10px;
    background: #008caa;
}
.workListDetails_bodyer .green_legend {
    width: 10px;
    height: 10px;
    background: #00aa6d;
}
.workListDetails_bodyer .red_legend { 
    width: 10px;
    height: 10px;
    background: #aa2000;
}
.workListDetails_bodyer .quoted_Table {
    border-collapse: collapse;
    width: 100%;
}
.workListDetails_bodyer .quoted_Table .sv_Td div {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.workListDetails_bodyer .quoted_Table th.sv_Td {
    background: #d8d8d8;
    height: 40px;
}
.workListDetails_bodyer .quoted_Table .sv_Td {
    width: 15%;
    border: 1px solid #979797;
    background: #eee9e9;
    padding: 0 1%;
    font-size: 0.8rem;
    height: 60px;
    text-align: center;
    vertical-align: middle;
}
.workListDetails_bodyer .quoted_Table .sv_Td.sv_Td_Long {
    width: 40%;
}
.workListDetails_bodyer .quoted_Table .sv_Td.sv_Td_nopadding {
    padding: 0;
}
.workListDetails_bodyer .quoted_Table .sv_Td .sv_checkbox {
    height: 25px;  
    width: 25px;
}
.workListDetails_bodyer .quoted_Table .sv_Td p {
    margin: 0;
}
/* delete */
.workListDetails_bodyer .quoted_Table .sv_Td.blue_legend {
    background: #008caa;
    position: relative;
    color: #ffffff;
}
.workListDetails_bodyer .quoted_Table .sv_Td.green_legend {
    background: #00aa6d;
    color: #ffffff;
}
.workListDetails_bodyer .quoted_Table .sv_Td.red_legend { 
    background:  #aa2000;
    color: #ffffff;
}
.workListDetails_bodyer .quoted_Table .sv_Td.blue_text_color {
   color: #008caa;
}
.workListDetails_bodyer .quoted_Table .sv_Td.green_text_color {
    color: #00aa6d;
}
.workListDetails_bodyer .quoted_Table .sv_Td.red_text_color { 
    color: #aa2000;
}
.workListDetails_bodyer .quoted_Table .sv_Td.sv_Td_noborder {
    border: 0;
    background: #f2f2f2;
}
.workListDetails_bodyer .sv_Td.blue_legend .explain_Icon {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
    left: 1px;
}
.workListDetails_bodyer .sv_Td.blue_legend .explain_Text {
    position: absolute;
    width: 80vw;
    padding: 10%;
    left: 25px;
    z-index: 10;
    background: #ffffff;
    box-shadow: 0 1px 2px #676767;
    border: 1px solid #008caa;
    text-align: left;
    top: calc(50% - 16px);
}
/* delete  end */
/* add */
.workListDetails_bodyer .quoted_Table.blue_legend .sv_Td:first-child {
    background: #008caa;
    position: relative;
    color: #ffffff;
}
.workListDetails_bodyer .quoted_Table.green_legend .sv_Td:first-child {
    background: #00aa6d;
    color: #ffffff;
}
.workListDetails_bodyer .quoted_Table.red_legend .sv_Td:first-child { 
    background:  #aa2000;
    color: #ffffff;
}
.workListDetails_bodyer .quoted_Table.sv_Td_noborder .sv_Td {
    border: 0;
    background: #f2f2f2;
}
.workListDetails_bodyer .quoted_Table.blue_legend .sv_Td:first-child .explain_Icon {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
    left: 1px;
}
.workListDetails_bodyer .quoted_Table.blue_legend .sv_Td:first-child .explain_Text {
    position: absolute;
    width: 80vw;
    padding: 10%;
    left: 25px;
    z-index: 10;
    background: #ffffff;
    box-shadow: 0 1px 2px #676767;
    border: 1px solid #008caa;
    text-align: left;
    top: calc(50% - 16px);
}
/* add end */

.workListDetails_bodyer .small_Type_Input {
    color: #535353;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #535353;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 0 5%;
    font-size: 1rem;
}
.workListDetails_bodyer .search_small_black {
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
    position: absolute;
    top: calc(50% - 8px);
    right: 0;
}
.workListDetails_bodyer .search_small_black {
    background-image: url(././img/images/search_small_black.png);
}
.workListDetails_bodyer .small_Type_Select {
    color: #535353;
    width: 100%;
    height: 40px;
    padding: 0 5%;
    font-size: 1rem;
}
.workListDetails_bodyer .small_Type_Textarea {
    resize: none;
    width: 100%;
    border: 1px solid #535353;
    font-size: 0.8rem;
    padding:2%;
}
.workListDetails_bodyer .img_Group {
    margin-bottom: 1%;
}
.workListDetails_bodyer .img_Group .item_Img {
    display: inline-flex;
    width: calc(97% / 3);
}
.workListDetails_bodyer .has_Add_Img {
    width: 80px;
    height: 80px;
    border: 1px dotted #979797;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.workListDetails_bodyer .will_Add_Img {
    width: 80px;
    height: 80px;
    border: 1px dotted #979797;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.workListDetails_bodyer .no_Img {
    width: 80px;
    height: 80px;
    border: 0px dotted #979797;
}

.workListDetails_bodyer .del_Img {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: -8px;
    top: -8px;
    width: 16px;
    height: 16px;
}

/* foot */
.next_Footer {
    position: absolute;
    bottom: 50px;
    width: 100%;
    background: #ffffff;
}
.schedule_Group {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #535353;
    padding: 10px 0;
}
.schedule_Group div {
    display: inline-flex;
    margin: 1%;
}
.schedule_Btn {
    background: #ffffff;
    border: 1px solid #979797;
    padding: 2% 4%;
}
.next_Schedule_Icon {
    background-repeat: no-repeat;
    background-size: cover;
    width: 12px;
    height: 20px;
}   
.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    margin: 0;
    width: 100%;
    display: flex;
    border-top: 1px solid #535353;
}
.footer_Btn {
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 1rem;
    color: #535353;
    background: #ffffff;
    display: inline-flex;
    width: calc(100% / 2);
    justify-content: center;
}
.footer_Btn.Save_Btn_Act {
    color: #ffffff;
    background: #aa0020;
}
.footer_Btn.Save_Btn_Uact {
    color: #ffffff;
    background: #979797;
}

.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
  }
  .list .item.item-accordion.ng-hide {
    line-height: 0px;
  }
  .list .item.item-accordion.ng-hide-add,
  .list .item.item-accordion.ng-hide-remove {
    display: block !important;
  }
  .importLsg_bodyer .list {
    padding: 0;
}
.importLsg_bodyer .item {
    padding: 0;
    width: 100%;
    overflow: inherit;
    border: 0;
    background: none;
    color: inherit;
    font-size: inherit;
    margin: 0;
}

.add_del_bodyer {
    overflow-y: auto;
    height: calc(100vh - 170px);
    width: 100%;
}

/** refund **/
.workListDetails_bodyer .refund_Table {
    border-collapse: collapse;
    width: 100%;
    position: relative;
}
.workListDetails_bodyer .refund_Table th.sv_Td {
    background: #d8d8d8;
    height: 40px;
}
.workListDetails_bodyer .refund_Table .sv_Td {
    width: 15%;
    border: 1px solid #979797;
    background: #eee9e9;
    padding: 0 1%;
    font-size: 0.8rem;
    height: 60px;
    text-align: center;
    vertical-align: middle;
}
.workListDetails_bodyer .refund_Table .sv_Td.sv_Td_240 {
    width: 25%;
}
.workListDetails_bodyer .refund_Table .sv_Td.sv_Td_240 div {
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    width: 80px;
}
.workListDetails_bodyer .refund_Table .sv_Td .sv_checkbox {
    height: 25px;  
    width: 25px;
}
.workListDetails_bodyer .refund_Table .explain_Icon {
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
    margin: 0 auto;
}
.workListDetails_bodyer .refund_Table .explain_Text {
    position: absolute;
    width: 80vw;
    padding: 2%;
    right: 25px;
    z-index: 10;
    background: #ffffff;
    box-shadow: 0 1px 2px #676767;
    border: 1px solid #008caa;
    text-align: left;
    top: 50%;
}
.workListDetails_bodyer .refund_first {
    display: flex;
    /* width: 100%; */
    position: relative;
    margin: 0 5%;
    height: 30px;
    align-items: center;
}
.workListDetails_bodyer .refund_first .arrow_Down_Black {
    width: 18px;
    height: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
    display: inline-flex;
}
.workListDetails_bodyer .refund_first .arrow_Left_Black {
    width: 10px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
    display: inline-flex;
}
.workListDetails_bodyer .refund_first .box_num {
    display: inline-flex;
    font-size: 0.8rem;
}
.workListDetails_bodyer .refund_first .explain_Icon {
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
}
.workListDetails_bodyer .refund_first .explain_Text {
    position: absolute;
    padding: 2%;
    left: 30%;
    z-index: 10;
    background: #ffffff;
    box-shadow: 0 1px 2px #676767;
    border: 1px solid #008caa;
    text-align: left;
    top: 50%;
    white-space: nowrap;
}
.workListDetails_bodyer .refund_first .explain_Text .red_span {
    color: #aa0020;
    justify-content: flex-end;
    font-size: 1rem;
}
.workListDetails_bodyer .refund_first .explain_Text .dis_flex {
    display: flex;
    width: 100%;
}
.workListDetails_bodyer .refund_first .explain_Text .dis_flex span {
    display: inline-flex;
    width: 50%;
    font-size: 0.8rem;
    margin: 0 2px;
}